.filter{
	margin-bottom: 20px;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__type{
		.dark-photo{
			display: var(--display-dark-block);
		}
		.light-photo{
			display: var(--display-dark-none);
		}
		&_mob{
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
		}
		a{
			font-weight: 400;
			font-size: 18px;
			line-height: 18px;
			color: var(--c-fff);
			text-align: center;
			padding: 10px 30px;
			background: var(--filter-button);
			border: 1px solid var(--c-fff);
			height: 65px;
			display: flex;
			align-items: center;
			img{
				height: 43px;
				max-width: 75px;
				object-fit: contain;
			}
		}
		li{
			margin-right: 10px;
		}
		.li_active{
			a{
				border-bottom: 3px solid #4F7DF6;
				background: var(--filter-button-active);
			}
		}
	}
	&__sort{
		display: flex;
		align-items: center;
		p{
			font-weight: 400;
			font-size: 18px;
			line-height: 18px;
			color: var(--c-fff);
			margin-right: 13px;
		}

		.select{
			position: relative;
			z-index: 3;
			&__head{
				background: #040404;
				border: 1px solid var(--c-fff);
				padding: 21px 30px;
				font-weight: 400;
				font-size: 18px;
				line-height: 18px;
				color: var(--c-fff);
				display: flex;
				align-items: center;
				cursor: pointer;
				position: relative;
				z-index: 2;
				&:after{
					content: '';
					background: url('../img/icons/arr-down-wh.svg') no-repeat;
					background-size: contain;
					width: 8px;
					height: 10px;
					display: block;
					margin-left: 18px;
					transition: all .3s ease;
				}
			}
			&__body{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 1;

				opacity: 0;
				visibility: hidden;
				top: 0;
				transition: all .3s ease;
			}
			&_active{
				.select__head{
					&:after{
						transform: rotate(180deg);
					}
				}
				.select__body{
					opacity: 1;
					visibility: visible;
					top: 100%;
				}
			}
			&__item{
				background: #040404;
				border: 1px solid var(--c-fff);
				padding: 21px 30px;
				font-weight: 400;
				font-size: 18px;
				line-height: 18px;
				color: var(--c-fff);
				display: flex;
				align-items: center;
				cursor: pointer;
			}
		}
	}

	@media screen and (max-width: 1100px) {
		.wrapper{
			flex-direction: column;
			align-items: flex-start;
		}
		&__sort{
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 1024px) {
		&__type{
			display: none;
			&_mob{
				display: flex;
				align-items: center;
				width: 100%;
				.btn{
					color: var(--c-fff);
				}
				.type__all{
					margin-right: 10px;
					a{
						background: var(--filter-button);
						border-bottom: 1px solid #fff;
						margin-bottom: 1px;
					}
					&_active{
						a{
							border-bottom: 2px solid #4F7DF6;
							// background: var(--f-000);
							margin-bottom: 0px;
						}
					}
				}
				.btn{
					font-size: 16px;
					line-height: 18px;
					padding: 13px 25px;
				}
				.select{
					z-index: 4;
					width: 100%;
					position: relative;
					img{
						width: 20px;
						height: 20px;
						object-fit: contain;
						margin-right: 10px;
					}
					&_active{
						.select__head:after{
							transform: translateY(-50%) rotate(180deg);
						}
						.select__body{
							top: 100%;
							opacity: 1;
							visibility: visible;
						}
					}
					&__item{
						padding: 13px 16px;
					}
					&__body{
						position: absolute;
						z-index: 3;
						width: 100%;
						top: 100%;
						left: 0;

						top: 0;
						opacity: 0;
						visibility: hidden;
						transition: all .3s ease;
						.btn{
							background: var(--filter-button);
						}
					}
					&__head{
						position: relative;
						z-index: 4;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.btn{
							border-bottom: 1px solid #fff;
							margin-bottom: 1px;
						}
						&:after{
							content: '';
							background: url('../img/icons/arr-down-wh.svg') no-repeat;
							background-size: contain;
							background-position: center;
							display: block;
							width: 8px;
							height: 10px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 15px;
							transition: all .3s ease;
							filter: var(--brightness-1);
						}
						.btn{
							background: var(--filter-button);
							width: 100%;
						}
					}

					&_current{
						.select__head .btn{
							border-bottom: 2px solid #4F7DF6;
							margin-bottom: 0px;
						}
					}

					.dark-photo{
						width: 50px;
					}
					.btn{
						display: flex;
						align-items: center;
						padding: 13px 16px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 576px) {
		&__sort{
			.select__item,
			.select__head{
				padding: 13px 16px;
			}
			.select__body{
				z-index: 2;
			}
		}
	}
}

.catalog{

	&__top{
		ul{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 20px;
			li{
				font-weight: 500;
				font-size: 20px;
				line-height: 40px;
				color: var(--—Å-F2F2F2);
				margin-right: 10vw;
				display: flex;
				align-items: center;
				&:before{
					content: '';
					background: url('../img/icons/check-blue.svg') no-repeat;
					background-position: center;
					background-size: contain;
					width: 20px;
					height: 20px;
					margin-right: 11px;
					display: block;
				}
			}
		}
	}

	&__inner{
		margin-top: 10px;
	}
	&__mark{
		display: none;
		&_active{
			display: block;
		}
		h3{
			font-family: 'Oswald';
			font-style: normal;
			font-weight: 300;
			font-size: 35px;
			line-height: 75px;
			letter-spacing: -0.01em;
			color: var(--c-fff);
			margin-top: 25px;
		}
		&:first-child{
			h3{
				margin-top: 0;
			}
		}
	}
	&__grid{
		display: grid;
		grid-row-gap: 20px;
		grid-column-gap: 12px;
		grid-template-columns: repeat(4, 1fr);
	}
	&__item{
		background: var(--catalog-card);
		padding: 3px;
		overflow: hidden;
		transition: all .3s ease;
		&:hover{
			transform: scale(1.05);
		}
		&_active{
			z-index: 4;
			position: relative;
		}
		.item__slider{
			background: var(--catalog-card);
			height: 317px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			overflow: hidden;
			.swiper-pagination{
				z-index: 3;
			}
			&:hover{
				.swiper-button-next, .swiper-button-prev{
					opacity: 1;
				}
			}
			.swiper-pagination-bullet{
				background: #fff;
				opacity: 1;
				&-active{
					background: #5181FF;
				}
			}
			.swiper-button-next, .swiper-button-prev{
				opacity: 0;
				transition: all .3s ease;
				&:hover{
					path{
						fill: #4F7DF6
					}
				}
				svg,
				img{
					width: 15px;
					height: 15px;
				}
				&.swiper-button-disabled{
					opacity: 0;
				}
			}
			.swiper-button-next:after, .swiper-button-prev:after{
				display: none;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			picture{
				width: 100%;
				height: 100%;
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.item__bottom{
			padding: 18px;
		}
		.item__title{
			font-family: 'Oswald';
			font-weight: 400;
			font-size: 26px;
			line-height: 25px;
			color: var(--c-fff);
			margin-bottom: 7px;
		}
		.item__text{
			font-weight: 300;
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 13px;
			color: var(--c-dcdcdc);
		}
		.item__place{
			display: flex;
			align-items: center;
			svg,
			img{
				width: 11px;
				margin-right: 5px;
			}
			path{
				fill: var(--c-fff);
			}
			span{
				font-weight: 300;
				font-size: 14px;
				line-height: 14px;
				color: var(--c-fff);
			}
		}
		.item__price{
			span{
				font-size: 12px;
				line-height: 25px;
				color: var(--c-e8e8e8);
			}
			b{
				font-size: 14px;
				line-height: 25px;
				color: var(--c-e8e8e8);
				margin-left: 4px;
			}
		}
		.item__info{
			margin: 12px 0 17px;
			margin-top: 25px;
			ul{
				display: grid;
				grid-gap: 10px;
				grid-template-columns: repeat(3, 1fr);
			}
			li{
				display: flex;
			}
			.text{
				p{
					font-size: 14px;
					line-height: 13px;
					color: #AFAFAF;
				}
				span{
					font-weight: 400;
					font-size: 16px;
					line-height: 25px;
					color: var(--c-fff);
				}
			}
			.icon{
				margin-right: 10px;
				background: var(--body-bgd);
				border-radius: 2px;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: -10px;
			}
			path{
				stroke: var(--c-fff);
			}
			span{
				font-weight: 400;
				font-size: 14px;
				line-height: 25px;
				color: #E2E2E2;
			}
		}
		.item__price{
			font-family: 'Roboto Condensed';
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: var(--c-e8e8e8);
		}

		.item__more-info{
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			&_active{
				.more-info__head{
					.line{
						background: #4F7DF6;
						&:nth-child(2){
							opacity: 0;
						}
					}
				}
				.more-info__body{
					display: block;
				}
			}
			li{
				margin-top: 8px;
				h3{
					font-weight: 400;
					font-size: 14px;
					line-height: 25px;
					color: #A3A3A3;
				}
				p{
					font-weight: 500;
					font-size: 16px;
					line-height: 25px;
					color: var(--c-fff);
				}
			}
		}
		.more-info__head{
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 10px 0;
			&:hover{
				.line{
					background: #4F7DF6;
				}
			}
			span{
				font-weight: 500;
				font-size: 18px;
				line-height: 25px;
				color: var(--c-fff);
			}
			.line{
				width: 15px;
				height: 2px;
				background: #fff;
				transition: all .3s ease;
				&:nth-child(2){
					position: absolute;
					top: 50%;
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
		.more-info__body{
			display: none;
			ul:nth-child(2){
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				padding: 14px 0;
				margin-top: 13px;
				li{
					font-weight: 500;
					font-size: 16px;
					line-height: 25px;
					color: var(--c-fff);
					margin-bottom: 6px;
					margin-top: 0;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		.item__button{
			margin-top: 20px;
			width: fit-content;
		}
	}
	&__pagination{
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		.pagination__nums{
			border: 1px solid #fff;
			background: var(--pagination-nums-bgd);
			span,
			a{
				font-weight: 400;
				font-size: 18px;
				line-height: 18px;
				text-align: center;
				color: var(--c-fff);
				width: 66px;
				height: 66px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
				transition: all .3s ease;
				&:hover,
				&.current{
					background: #4F7DF6;
					border-color: #4F7DF6;
					width: 68px;
					margin-left: -1px;
					margin-right: -1px;
					z-index: 2;
					color: var(--pagination-active-num-color);
					&:first-child{
						margin-left: 0;
						margin-right: -2px;
					}
					&:last-child{
						margin-right: 0;
						margin-left: -2px;
					}
				}
			}
		}
		.pagination__arr{
			border: 1px solid var(--pagination-arr-border-color);
			transform: matrix(-1, 0, 0, 1, 0, 0);
			margin: 0 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 66px;
			height: 66px;
			box-shadow: var(--pagination-arr-shadow);
			background: var(--pagination-arr-bgd);
			transition: all .3s ease;
			path{
				fill: #fff;
			}
			&:hover{
				background: #4F7DF6;
				border-color: #4F7DF6;
			}
			svg,
			img{
				width: 15px;
				height: 15px;
			}
		}
		ul{
			display: flex;
			align-items: center;
		}
	}

	@media screen and (max-width: 1500px) {
		.item__info ul{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media screen and (max-width: 1280px) {
		&__grid{
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media screen and (max-width: 870px) {
		&__grid{
			grid-template-columns: repeat(2, 1fr);
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 576px) {
		&__grid{
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 15px;
		}

		&__top ul li {
			font-size: 16px;
			line-height: 24px;
			margin: 7px 0;
		}

		&__pagination{
			.pagination__arr{
				width: 50px;
				height: 50px;
				margin: 0 6px;
				svg{
					width: 10px;
				}
			}
			.pagination__nums{
				a,
				span{
					width: 50px;
					height: 50px;
					&:hover,
					&.current{
						width: 52px;
					}
				}
			}
		}

		&__item{
			.item__bottom{
				padding: 15px;
			}
			.item__title{
				font-size: 20px;
				line-height: 25px;
			}
			.item__price{
				font-size: 16px;
				line-height: 25px;
			}
			.item__info{
				span{
					font-size: 14px;
					line-height: 25px;
				}
			}
			.more-info__head{
				.icon{
					display: none;
				}
				span{
					font-size: 16px;
					line-height: 25px;
				}
			}
		}
	}
	@media screen and (max-width: 400px) {
		&__pagination{
			flex-wrap: wrap;
			.pagination__arr{
				margin-top: 14px;
				order: 2;
				&_prev{
					margin-left: 70px;
				}
				&_next{
					margin-right: 70px;
				}
			}
		}
	}
}
