.contacts{

	.wrapper{
		position: relative;
	}
	.buttons-mob{
		position: absolute;
		right: 0;
		top: 0;
	}

	h1{
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 65px;
		line-height: 75px;
		// margin-bottom: 42px;
		color: var(--c-fff);
	}
	&__info{
		padding-right: 38px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		padding-bottom: 27px;
		margin-bottom: 60px;
		margin-top: 40px;
		&:last-child{
			border: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.info__lft{
			min-width: 210px;
		}
		.info__photo{
			height: 331px;
			margin-bottom: 9px;
		}
		.info__rht{
			h3{
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: var(--c-fff);
			}
			p{
				font-size: 14px;
				line-height: 28px;
				color: var(--c-fff);
			}
		}
		h2{
			margin-bottom: 28px;
		}
		ul{
			margin-bottom: 28px;
		}
		.btn{
			width: fit-content;
			padding-top: 18px;
			padding-bottom: 18px;
		}
		li{
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			display: flex;
			align-items: center;
			width: 100%;
			span{
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: var(--c-fff);
				transition: all .3s ease;
			}
			&:hover{
				span{
					color: #4F7DF6;
				}
			}
			img{
				margin-right: 10px;
				width: 14px;
			}
		}
		.open-map{
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			color: var(--c-fff);
			position: relative;
			width: fit-content;
			&:after{
				content: '';
				background: #4F7DF6;
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				bottom: -7px;
				z-index: 2;
				transition: all .3s ease;
			}
			&:hover{
				&:before{
					bottom: -3px;
				}
				&:after{
					bottom: -3px;
				}
			}
			&:active{
				&:before{
					bottom: -6px;
				}
				&:after{
					bottom: -6px;
				}
			}
		}
	}
	h2{
		font-weight: 500;
		font-size: 25px;
		line-height: 20px;
		color: var(--c-fff);
	}
	&__inner{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		margin-bottom: 30px;
	}
	button{
		margin: 0 auto;
		background: var(--button-bgd-radial);
		border: var(--header-scroll-border);
		box-shadow: var(--header-button-shadow);
		backdrop-filter: blur(5px);
		border-radius: 50%;
		width: 130px;
		height: 130px;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		color: #fff;
		margin-bottom: 19px;
		display: block;
	}
	.bottom__text{
		font-weight: 300;
		font-size: 14px;
		line-height: 22px;
		color: #BFBFBF;
	}
	.checkbox{
		margin-bottom: 24px;
		input{
			opacity: 0;
			position: absolute;
			visibility: hidden;
			top: 0;
			left: 0;
		}
		label{
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: var(--c-fff);
			&:before{
				content: '';
				min-width: 21px;
				width: 21px;
				height: 21px;
				background: var(--c-121418);
				border: 1px solid #414447;
				border-radius: 2px;
				margin-right: 11px;
			}
		}
		input:checked + label:before{
			background: var(--form-checkbox);
			background-position: center;
		}
	}
	&__form{
		background: var(--catalog-card);
		padding: 30px 40px 20px;
		max-width: 885px;
		width: 100%;
		h2{
			font-family: 'Oswald';
			font-weight: 300;
			font-size: 40px;
			line-height: 41px;
			color: var(--c-fff);
			margin-bottom: 18px;
		}
		.inputs{
			display: flex;
			align-items: center;
			input{
				max-width: 500px;
				margin-right: 18px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		label{
			span{
				font-weight: 400;
				font-size: 18px;
				line-height: 20px;
				color: var(--c-fff);
				margin-bottom: 10px;
				display: block;
			}
		}
		textarea,
		input{
			background: var(--c-121418);
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-radius: 3px;
			margin-bottom: 15px;
			width: 100%;
			display: block;
			padding: 18px 20px;
			font-weight: 400;
			font-size: 18px;
			line-height: 20px;
			color: var(--c-fff);
			outline: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			&::placeholder{
				color: var(--c-afafaf);
				// color: rgba(255, 255, 255, 0.37);
			}
		}
		button{
			margin-left: auto;
			transition: all .3s ease;
			&:hover{
				transform: scale(1.1);
			}
			&:active{
				transform: scale(1);
			}
		}
		textarea{
			height: 162px;
			resize: none;
		}

		.form__bottom{
			display: flex;
			align-items: center;
			justify-content: space-between;
			p{
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: var(--c-fff);
				max-width: 564px;
			}
			span{
				color: #4F7DF6;
			}
		}
	}

	@media screen and (max-width: 1260px) {
		&__info{
			flex-direction: column;
			.info__photo{
				margin-top: 27px;
			}
		}
	}
	@media screen and (max-width: 1024px) {
		&__inner{
			display: block;
		}
		&__form{
			margin-right: 0;
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 768px) {
		&__inner{
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 15px;
			margin-bottom: 15px;
		}
		&__form{
			padding: 20px 20px 24px;
			.form__bottom{
				flex-direction: column;
				align-items: flex-start;
			}
			button{
				margin-top: 15px;
			}
		}
	}
	@media screen and (max-width: 576px) {
		h1{
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 20px;
		}
		h2{
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		.bottom__text{
			font-size: 12px;
			line-height: 18px;
		}
		&__form{
			background: transparent;
			padding: 0;
			button{
				width: 90px;
				height: 90px;
				font-size: 15px;
				line-height: 19px;
			}
			h2{
				font-size: 35px;
				line-height: 41px;
			}
			.inputs{
				flex-direction: column;
				input{
					margin-right: 0;
				}
			}
			button{
				padding: 12px;
			}
			.form__bottom{
				p{
					font-size: 14px;
					line-height: 20px;
				}
			}
			label{
				span{
					font-size: 16px;
					line-height: 20px;
				}
			}
			input,
			textarea{
				padding: 12px 14px;
				font-size: 14px;
				line-height: 20px;
				background: var(--header-bgd-scroll);
			}
			textarea{
				height: 165px;
			}
		}
		.checkbox label {
			align-items: flex-start;
			font-size: 12px;
			line-height: 18px;

		}
		&__info{
			padding: 0px;
			border: none;
			margin-bottom: 20px;
			ul{
				margin-bottom: 15px;
			}
			.info__photo{
				width: 100%;
				height: 100%;
			}
			.info__photo{
				img{
					width: 100%;
				}
			}
			.btn{
				padding: 13px 15px;
				font-size: 16px;
				line-height: 18px;
			}
			a{
				span{
					font-size: 16px;
					line-height: 28px;
				}
			}
		}
	}
}