.banner{
	margin-top: 50px;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.btn{
		width: 100%;
		max-width: 165px;
		text-align: center;
	}
	&__bottom{
		margin-top: 50px;
		.goto-catalog{
			width: 175px;
			height: 175px;
			background: var(--button-bgd-radial);
			border: var(--button-border);
			border-radius: 50%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 49px;
			transition: all .3s ease;
			span{
				margin-right: 10px;
				color: #fff;
			}
			&:hover{
				transform: scale(1.1);
			}
			&:active{
				transform: scale(0.95);
			}
		}
		.link{
			margin: 0 auto;
			font-weight: 400;
			font-size: 22px;
			line-height: 25px;
			text-align: center;
			color: var(--c-fff);
			margin-bottom: 21px;
			display: block;
			width: fit-content;
			border-bottom: 2px solid var(--c-fff);
			&:hover{
				border-color: #4F7DF6;
			}
		}
	}
	ul{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 37px;
		li{
			font-weight: 500;
			font-size: 20px;
			line-height: 40px;
			color: var(--с-F2F2F2);
			margin-right: 10vw;
			display: flex;
			align-items: center;
			&:before{
				content: '';
				background: url('../img/icons/check-blue.svg') no-repeat;
				background-position: center;
				background-size: contain;
				width: 20px;
				height: 20px;
				margin-right: 11px;
				display: block;
			}
		}
	}
	&__text{
		margin-left: 180px;
	}
	&__more{
		width: fit-content;
		color: #fff;
	}
	&__socials{
		margin-top: auto;
		position: fixed;
		top: 305px;
		width: 100%;
		// bottom: 50px;
		right: 50px;
		z-index: 50;
		pointer-events: none;
		.wrapper{
			padding-right: 0;
			display: flex;
		}
		ul{
			margin-left: auto;
		}
		.li__head{
			background: var(--button-bgd-radial-another);
			border: var(--button-border);
			// backdrop-filter: blur(5px);
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			transition: all .3s ease;
			&:hover{
				transform: scale(1.05);
			}
			&:active{
				transform: scale(1);
			}
			svg,
			img{
				width: 20px;
				height: 20px;
			}
		}
		.li__body{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 100%;
			margin-right: 12px;

			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			&:after{
				content: '';
				background: var(--c-262626);
				border-radius: 1px;
				transform: translateY(-50%) rotate(45deg);
				width: 10px;
				height: 10px;
				display: block;
				position: absolute;
				top: 50%;
				right: -3px;
			}
			ul{
				background: var(--c-262626);
				box-shadow: 0px 10px 25px var(--c-000);
				border-radius: 120px;
				padding: 10px 20px;
				grid-gap: 5px;
			}
			li{
				margin: 0;
				white-space: nowrap;
				display: block;
				margin-bottom: 6px;
				position: relative;
				z-index: 1;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.ul__socials{
				display: flex;
				align-items: center;
				padding: 5px 8px;
				li{
					width: 39px;
					height: 39px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: var(--c-262626);
					border: 1px solid var(--c-fff);
					border-radius: 50%;
					margin-bottom: 0;
					img{
						filter: var(--brightness-1);
					}
					&:hover{
						background: var(--button-bgd-radial);
						// backdrop-filter: blur(5px);
					}
				}
			}
		}
		li{
			margin-bottom: 10px;
			position: relative;
			pointer-events: all;
			&.li_active{
				.li__body{
					opacity: 1;
					visibility: visible;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__catalog{
		background: var(--button-bgd-radial);
		border: 1px solid var(--c-fff);
		// backdrop-filter: blur(5px);
		width: 218px;
		height: 218px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		box-shadow: -10px 30px 100px 0px #385dbe;
		&:hover{
			background: #4F7DF6;
		}
		&:active{
			background: var(--button-bgd-radial);
		}
		span{
			font-weight: 500;
			font-size: 20px;
			line-height: 26px;
			text-align: center;
			color: var(--c-fff);
		}
		img{
			margin-left: 7px;
		}
	}
	h1{
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 65px;
		line-height: 75px;
		margin-bottom: 26px;
		max-width: 687px;
	}
	p{
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: var(--c-D7D7D7);
		margin-bottom: 22px;
		max-width: 585px;
	}
	&__mob{
		display: none;
	}

	@media screen and (max-width: 1024px) {
		&__text{
			margin-left: 0;
		}
		&__button{
			display: none;
		}
		&__mob{
			display: block;
			margin-top: 20px;
			.banner__button{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	@media screen and (max-width: 768px) {
		h1{
			font-size: 40px;
			line-height: normal;
		}
	}
	@media screen and (max-width: 576px) {
		&{
			margin-top: 24px;
		}
		ul{
			margin-bottom: 10px;
		}
		ul li {
			font-size: 16px;
			line-height: 24px;
			margin: 7px 0;
		}
		p{
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 15px;
		}
		h1{
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 4px;
		}
		&__socials{
			display: none;
		}
		&__catalog{
			width: 141px;
			height: 141px;
			span{
				font-size: 15px;
				line-height: 15px;
			}
			img{
				width: 7px;
			}
		}
		&__bottom .link {
			font-size: 18px;
			line-height: 26px;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			border: none;
			text-decoration: underline;
			&:hover{
				color: inherit;
			}
		}
	}
}

.slider-photos{
	h2{
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 300;
		font-size: 50px;
		line-height: 65px;
		text-align: center;
		color: var(--c-fff);
		margin: 0 auto;
		margin-bottom: 36px;
		max-width: 1240px;
	}
	p{
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: var(--с-F2F2F2);
		margin-bottom: 50px;
	}

	&-slider{
		padding-bottom: 20px;
	}

	.swiper-scrollbar{
		display: none;
		background: var(--social-footer-bgd);
		height: 5px;
	}
	.swiper-scrollbar-drag{
		background: #4F7DF6;
	}

	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		pointer-events: auto;
		z-index: 2;
	}
	.swiper-button-next, .swiper-button-prev{
		background: linear-gradient(155.87deg, #4F7DF6 8.49%, #1B41A6 92.59%);
		border-radius: 2px;
		width: 35px;
		height: 35px;
	}
	.swiper-button-next:after, .swiper-button-prev:after{
		display: none;
	}

	.swiper-slide{
		position: relative;
		&:hover{
			.button-lupa{
				transform: scale(1.1);
			}
		}
	}
	.image{
		cursor: pointer;
		height: 424px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.open-big-photo{
		padding: 12px;
		background: #181818;
		border-radius: 2px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		pointer-events: none;
	}

	@media screen and (max-width: 768px) {
		.swiper-scrollbar{
			display: block;
		}
	}
	@media screen and (max-width: 576px) {
		p{
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.swiper-button-next, .swiper-button-prev{
			display: none;
		}
		h2{
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 20px;
		}
		.image{
			height: 216px;
		}
		.button-lupa{
			width: 30px;
			height: 30px;
			img{
				width: 12px;
			}
		}
	}
}

.slider{
	margin-top: 37px;
	position: relative;
	&__inner{
		opacity: 0;
		transition: all .3s ease;
		&_show{
			opacity: 1;
		}
	}
	.swiper-button-next, .swiper-button-prev{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		display: block;
		left: 50px;
		width: 30px;
		height: 36px;
		&:after{
			display: none;
		}
	}
	.arr-mob{
		display: none;
	}
	.slide__photo{
		position: relative;
		height: 290px;
		display: flex;
		align-items: center;
		img{
			height: 220px;
			width: 100%;
		}
		&:hover{
			.slide__image{
				opacity: 0;
			}
			.slide__image_back{
				opacity: 1;
			}
		}
	}
	.slide__mark{
		margin-bottom: 30px;
		img{
			width: 120px;
			height: 64px;
			object-fit: contain;
			display: block;
			margin: 0 auto;
		}
	}
	.slide__image_back{
		position: absolute;
		left: 0;
		width: 100%;
		opacity: 0;
	}
	.swiper-button-next{
		left: auto;
		right: 50px;
	}
	// .swiper-wrapper {
		// transition-timing-function: linear;
	// }
	.swiper-slide{
		background: var(--main-slider-card-bgd);
		padding: 49px 30px 0;
		transition: all .3s ease;
		.dark-photo{
			display: var(--display-dark-block);
		}
		.light-photo{
			display: var(--display-dark-none);
		}
		&:hover{
			box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7);
			z-index: 22;
		}
	}
	h2{
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.01em;
		color: var(--c-fff);
		margin-bottom: 33px;
	}
	p{
		font-weight: 300;
		font-size: 15px;
		line-height: 21px;
		text-align: center;
		color: var(--c-D7D7D7);
		margin-bottom: 34px;
		min-height: 42px;
	}
	.copyright{
		color: #999999;
	}
	.btn{
		margin: 0 auto;
		width: fit-content;
	}
	picture{
		margin-bottom: 50px;
	}
	img,
	picture{
		width: 100%;
		object-fit: contain;
		display: block;
		transition: all .8s ease;
	}
	hr{
		height: 64px;
		width: 1px;
		background: var(--c-fff);
		border: none;
		display: block;
		margin: 0 auto;
		margin-top: 40px;
	}

	@media screen and (max-width: 992px) {
		.swiper-slide{
			padding: 30px 20px;
			padding-bottom: 0;
		}
		p{
			min-height: 63px;
		}
	}
	@media screen and (max-width: 576px) {
		&{
			margin-top: 20px;
		}
		.swiper-slide:hover {
			box-shadow: none;
		}
		&-photos .image{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&-photos .open-big-photo{
			display: none;
		}
		hr{
			height: 26px;
			margin-top: 10px;
		}
		&__inner{
			overflow: hidden;
		}
		picture{
			margin-bottom: 28px;
		}
		.swiper-button-prev{
			left: 20px;
		}
		.swiper-button-next{
			right: 20px;
		}
		.arr-mob{
			display: none;
			img{
				filter: var(--brightness-1);
				width: 18px;
				margin: 0 auto;
			}
		}

		.swiper-slide{
			padding: 19px 20px 0;
		}

		h2{
			margin-bottom: 2px;
			font-size: 30px;
		}
		p{
			font-size: 13px;
			line-height: 19px;
			margin-bottom: 16px;
		}
	}

	@media screen and (max-width: 576px) {
		.swiper-button-prev,
		.swiper-button-next{
			& > img{
				display: none;
			}
		}
		.arr-mob{
			display: block;
		}
	}
}
