.service{
	&__item{
		display: flex;
		position: relative;
		&:before{
			content: '';
			background: var(--line-on-services);
			height: 100%;
			width: 1px;
			top: 0;
			left: -1px;
			position: absolute;
			display: block;
			z-index: 2;
		}
		.item__text{
			padding-top: 80px;
			padding-left: 58px;
			padding-right: 56px;
			padding-bottom: 50px;
			width: 50%;
			position: relative;
			&:after{
				content: '';
				background: var(--line-on-services);
				height: 100%;
				width: 1px;
				top: 0;
				z-index: 2;
				right: 0px;
				position: absolute;
				display: block;
			}
			.btn{
				width: fit-content;
			}
			h2{
				font-family: 'Oswald';
				font-weight: 300;
				font-size: 45px;
				margin-bottom: 25px;
				color: var(--c-fff);
				position: relative;
				&:after{
					content: '';
					background: var(--line-on-services-title);
					position: absolute;
					height: 100%;
					width: 1px;
					left: -59px;
					top: 0;
					z-index: 3;
				}
			}
			p{
				font-weight: 300;
				font-size: 20px;
				line-height: 30px;
				color: var(--c-fff);
				margin: 15px 0;
			}
		}
		.payments{
			display: flex;
			align-items: center;
			.img-dark{
				display: var(--display-dark-block)
			}
			.img-light{
				display: var(--display-dark-none)
			}
			li{
				background: var(--c-181818);
				width: 72px;
				height: 34px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		ol{
			counter-reset: olList;
			list-style-type: none;
			li{
				font-weight: 300;
				font-size: 20px;
				line-height: 30px;
				color: var(--c-fff);
				margin-bottom: 18px;
				counter-increment: olList;
				display: flex;
				&:before{
					content: counter(olList);
					background: var(--filter-button);
					border: 1px solid rgba(255, 255, 255, 0.2);
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 15px;
					width: 34px;
					min-width: 34px;
					height: 34px;
					font-weight: 400;
					font-size: 20px;
					line-height: 30px;
					color: var(--c-fff);
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.item__photo{
			padding-left: 88px;
			padding-top: 50px;
			padding-bottom: 50px;
			width: 50%;
			position: relative;
			z-index: 2;
			.swiper-button-next {
				right: 0;
			}
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-prev,
			.swiper-button-next{
				background: rgba(255, 255, 255, 0.15);
				backdrop-filter: blur(5px);
				border-radius: 2px;
				width: 35px;
				height: 35px;
				&:after{
					display: none;
				}
				img{
					filter: var(--brightness-1);
					width: 19px;
					height: 19px;
				}
			}
			.slider-nav{
				padding-left: 10px;
				padding-right: 10px;
				margin-left: -10px;
				margin-right: -10px;
			}
			.slider-for{
				margin-bottom: 17px;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-height: 543px;
			}
		}

		&:first-child{
			.item__photo{
				padding-top: 0;
			}
		}
		&:last-child{
			.item__photo{
				padding-bottom: 0;
			}
		}
		&:nth-child(2n + 2){
			flex-direction: row-reverse;
			.item__text{
				padding-right: 0;
				padding-left: 48px;
				&:after{
					right: auto;
					left: -1px;
				}
				h2{
					&:after{
						left: -49px;
					}
				}
			}
			.item__photo{
				padding-right: 28px;
				padding-left: 0;
				&:after{
					content: '';
					background: var(--line-on-services);
					height: 100%;
					width: 1px;
					top: 0;
					z-index: 2;
					right: 0px;
					position: absolute;
					display: block;
				}
			}
		}
	}

	@media screen and (max-width: 1350px) {
		&__item .item__text{
			padding-top: 30px;
		}
		&__item .item__photo{
			padding-left: 30px;
		}
	}
	@media screen and (max-width: 1024px) {
		&__item{
			flex-direction: column-reverse;
			&:nth-child(2n + 2){
				flex-direction: column-reverse;
				.item__photo{
					padding-left: 0;
					&::after{
						display: none;
					}
				}
			}
			.item__photo{
				width: 100%;
				padding-left: 0;
				padding-bottom: 25px;
				padding-top: 25px;
				img{
					max-height: 550px;
					height: 100%;
				}
			}
			.item__text{
				width: 100%;
				padding-left: 35px;
				padding-top: 25px;
				padding-bottom: 25px;
				&::after{
					display: none;
				}
				h2{
					&:after{
						left: -36px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 576px) {
		&__inner{
			margin-top: 50px;
		}
		&__item{
			.item__photo .slider-nav{
				.swiper-button-prev,
				.swiper-button-next {
					img{
						width: 18px;
						height: 18px;
					}
				}
				img{
					height: 110px;
				}
			}
			.item__photo .slider-for{
				margin-bottom: 13px;
			}
			&:nth-child(2n+2) .item__photo,
			.item__photo{
				padding-top: 8px;
				padding-bottom: 8px;
				padding-right: 0;
				img{
					max-height: 207px;
				}
			}
			&:last-child{
				.item__text{
					padding-bottom: 0;
				}
			}
			&:nth-child(2n+2) .item__text,
			.item__text{
				padding-left: 27px;
				padding-right: 10px;
				padding-top: 8px;
				padding-bottom: 8px;
				.btn{
					margin-top: 10px;
					font-size: 13px;
					line-height: 18px;
					padding: 14px 20px;
				}
				h2{
					font-size: 30px;
					line-height: 35px;
					margin-bottom: 10px;
					&:after{
						left: -28px;
					}
				}
				p{
					font-size: 14px;
					line-height: 21px;
					margin: 5px 0;
				}
			}
			ol{
				li{
					font-size: 14px;
					line-height: 21px;
					margin-bottom: 7px;
					&:before{
						width: 25px;
						min-width: 25px;
						height: 25px;
						font-size: 14px;
						line-height: 16px;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
