.blog-page {
	.top p,
	.top h1{
		color: #fff;
	}
}

.single-blog{
	margin-top: 40px;
	margin-bottom: 50px;
	ol{
		list-style-type: none;
		margin-bottom: 20px;
		li{
			font-weight: 400;
			font-size: 18px;
			line-height: 40px;
			color: var(--c-fff);
		}
	}
	.photo{
		margin: 30px 0;
		img{
			width: 100%;
			height: 100%;
			max-height: 600px;
		}
	}
	.btn{
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		background: var(--single-blog-button);
		color: #fff;
		transition: all .3s ease;
		&:hover{
			transform: scale(1.05);
		}
		&:active{
			transform: scale(1);
		}
		path{
			fill: var(--c-fff);
		}
	}
	h2{
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 45px;
		line-height: 75px;
		color: var(--c-fff);
		margin-bottom: 30px;
	}
	.block{
		padding-top: 50px;
		&__cars{
			position: relative;
			margin-top: 65px;
			margin-bottom: 165px;
			.text-below-car{
				font-family: 'Oswald';
				font-weight: 300;
				font-size: 128px;
				line-height: 28px;
				text-transform: uppercase;
				color: var(--lines-on-faq);
				position: absolute;
				right: 0;
			}
			.cars__photo{
				position: absolute;
				bottom: -130px;
				right: 0;
				z-index: 2;
				img{
					width: 64vw;
					max-width: 890px;
				}
			}
			h3{
				font-weight: 500;
				font-size: 36px;
				line-height: 36px;
				color: var(--c-fff);
				margin-bottom: 20px;
			}
			li{
				margin-bottom: 10px;
				margin-left: 10px;
				&:before{
					background: var(--c-fff);
					border-radius: 50%;
					min-width: 5px;
					width: 5px;
					height: 5px;
				}
			}
			.cars__inner{
				background: linear-gradient(123.23deg, #4F7DF6 -186.86%, rgba(79, 125, 246, 0) 69.79%);
				padding: 48px 55px 48px;
				padding-right: 760px;
			}
		}
		&__grid{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 33px;
			h3{
				font-weight: 500;
				font-size: 24px;
				line-height: 36px;
				color: var(--c-fff);
				margin-bottom: 10px;
			}
			p{
				font-weight: 300;
				font-size: 20px;
				line-height: 30px;
				color: var(--c-fff);
			}
			.item__photo{
				width: 100%;
				height: 262px;
				margin-bottom: 37px;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	p{
		font-weight: 300;
		font-size: 20px;
		line-height: 30px;
		margin: 20px 0px;
		color: var(--c-fff);
	}
	b{
		font-size: 24px;
		line-height: 36px;
		color: var(--c-fff);
	}
	ul{
		li{
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			color: var(--c-fff);
			display: flex;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				content: '';
				min-width: 7px;
				width: 7px;
				height: 7px;
				background: #5181FF;
				display: block;
				margin-right: 25px;
				margin-top: 10px;
			}
		}
	}
	&__navigation{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 20px;
		&_mob{
			display: none;
		}
		li{
			margin-bottom: 0 !important;
			margin-right: 16px;
			a{
				display: flex;
				align-items: center;
				background: #000000;
				border: 1px solid var(--c-fff);
				border-bottom: 3px solid #4F7DF6;
				padding: 20px 30px;
				span{
					margin-left: 10px;
				}
			}
			&:before{
				display: none !important;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}

	@media screen and (max-width: 1200px) {
		.block{
			&__cars{
				.text-below-car{
					bottom: -130px;
				}
				.cars__photo{
					bottom: -220px;
				}
				.cars__inner{
					padding-right: 50px;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		&{
			margin-top: 10px;
		}
		&__navigation{
			// display: none;
			.btn{
				padding: 10px 20px;
			}
			&_mob{
				display: block;
				.select{
					position: relative;
					&__head{
						width: 100%;
						background: #000000;
						border: 1px solid var(--c-fff);
						border-bottom: 2px solid #4F7DF6;
						padding: 13px 16px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						&:after{
							content: '';
							background: url('../img/icons/arr-down-wh.svg') no-repeat;
							background-size: contain;
							width: 10px;
							height: 10px;
							display: block;
						}
						span{
							font-weight: 400;
							font-size: 16px;
							line-height: 18px;
							color: var(--c-fff);
						}
					}
					&__body{
						display: none;
						position: absolute;
						left: 0;
						top: 100%;
						width: 100%;
						z-index: 2;
						li{
							margin: 0px;
							width: 100%;
							a{
								width: 100%;
								padding: 13px 16px;
								font-weight: 400;
								font-size: 16px;
								line-height: 18px;
							}
							&:before{
								display: none;
							}
						}
					}
					&_active{
						.select__head{
							&:after{
								transform: rotate(180deg);
							}
						}
						.select__body{
							display: block;
						}
					}
				}
			}
		}

		&{
			margin-top: 40px;
		}
		h2{
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 20px;
		}
		p{
			font-size: 14px;
			line-height: 21px;
			margin: 10px 0;
		}
		b{
			font-size: 16px;
			line-height: 24px;
		}
		.photo{
			margin: 20px 0;
			img{
				max-height: 200px;
			}
		}
		ul{
			li{
				font-size: 14px;
				line-height: 21px;
				&:before{
					margin-right: 10px;
					min-width: 5px;
					width: 5px;
					height: 5px;
				}
			}
		}
		.block{
			padding-top: 30px;
			&__grid{
				display: block;
				.item__photo{
					margin-bottom: 10px;
				}
				h3{
					font-size: 18px;
					line-height: 27px;
				}
				p{
					font-size: 14px;
					line-height: 21px;
				}
			}
			&__cars{
				margin: 30px 0;
				.text-below-car{
					display: none;
				}
				.cars__photo{
					display: none;
				}
				.cars__inner{
					padding: 16px 20px;
				}
				h3{
					font-size: 20px;
					line-height: 28px;
				}
				li{
					&:before{
						min-width: 3px;
						width: 3px;
						height: 3px;
					}
				}
			}
		}
	}
}