.single{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 17px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		margin-bottom: 41px;
		.top__back{
			display: flex;
			align-items: center;
			padding: 16px 14px;
			background: #181818;
			border-radius: 3px;
			img{
				margin-right: 12px;
			}
			&_hidden{
				opacity: 0;
				visibility: hidden;
			}
		}
		.top__navigate{
			display: flex;
			align-items: center;
			p{
				margin: 0 32px;
			}
			a{
				display: flex;
				align-items: center;
				position: relative;
				&:hover{
					&:before,
					&:after{
						opacity: 1;
						bottom: -9px;
					}
				}
				&:first-child{
					img{
						margin-left: 0;
					}
				}
				&:last-child{
					img{
						margin-right: 0;
					}
				}
				&:after{
					content: '';
					background: #4F7DF6;
					height: 1px;
					width: 100%;
					display: block;
					position: absolute;
					bottom: 5px;
					left: 0;
					opacity: 0;
					transition: all .3s ease;
				}
				&:before{
					content: '';
					background: linear-gradient(180deg, rgba(79, 125, 246, 0.15) 0%, rgba(79, 125, 246, 0.75) 100%);
					width: 100%;
					height: 13px;
					filter: blur(2px);
					position: absolute;
					bottom: 5px;
					z-index: 0;
					opacity: 0;
					transition: all .3s ease;
				}
				img{
					display: block;
					margin: 0 12px;
				}
				span{
					font-size: 18px;
					line-height: 14px;
					text-align: center;
					color: #FFFFFF;
					position: relative;
					z-index: 1;
				}
			}
		}
	}
	&__main{
		.main__slider{
			max-width: 883px;
			overflow: hidden;
		}
		.slider__poster{
			position: relative;
			height: 611px;
		}
		.slider__nav{
			margin-top: 11px;
			.swiper-slide{
				border: 3px solid #181818;
				height: 140px;
				width: 100%;
			}
		}
		.open-big-photo{
			padding: 12px;
			background: #181818;
			border-radius: 2px;
			position: absolute;
			bottom: 19px;
			right: 19px;
		}
		.swiper-numbers{
			background: #181818;
			border-radius: 2px;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			color: #D7D7D7;
			padding: 10px;
			position: absolute;
			bottom: 19px;
			left: 19px;
			z-index: 2;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			display: block;
		}
	}
}