<!-- ** FOOTER ** -->



<!-- ** POPUP ** -->

.popup.popup-form
	.popup__bgd
	.popup__content
		button.popup__close.btn
			img(src="img/icons/cross.svg" alt="")
		h2 Оставить заявку
		p Мы свяжемся с Вами в течении рабочего дня
		form
			input(placeholder="Ваше имя")
			textarea(placeholder="Напишите ваше обращение")
			button(type="submit").btn Отправить

<!-- ** POPUP ** -->


.banner__socials
	ul
		li
			button.li__head
				img(src="img/icons/share-blue.svg" alt="")
			.li__body
				ul.ul__socials
					li
						a(href="#")
							img(src="img/icons/messenger.svg" alt="")
					li
						a(href="#")
							img(src="img/icons/viber.svg" alt="")
					li
						a(href="#")
							img(src="img/icons/telegram.svg" alt="")
					li
						a(href="#")
							img(src="img/icons/whatsapp.svg" alt="")
		li
			button.li__head
				img(src="img/icons/chat-blue.svg" alt="")
			.li__body
				ul.ul__socials
					li
						a(href="#")
							img(src="img/icons/facebook-bd.svg" alt="")
					li
						a(href="#")
							img(src="img/icons/instagram-bd.svg" alt="")
		li
			button.li__head
				img(src="img/icons/phone-blue.svg" alt="")
			.li__body
				ul
					li
						a(href="tel:+49671365234") DE +49 (67) 136-52-34
					li
						a(href="tel:+75765761465") KZ +7 (576) 576-14-65
footer
	.wrapper
		.footer__top
			a(href="index.html").footer__logo
				span Luxury Cars
			.footer__block
				h4 Главная
				ul
					li
						a(href="single.html") Мерседес
					li
						a(href="single.html") БМВ
					li
						a(href="single.html") Ауди
					li
						a(href="single.html") Порше
					li
						a(href="single.html") Рэнж Ровер
			.footer__block
				h4 Покупка
				ul
					li
						a(href="service.html") Выбор
					li
						a(href="service.html") Осмотр
					li
						a(href="service.html") Оплата
					li
						a(href="service.html") Доставка
					li
						a(href="service.html") Растаможивание
			.footer__block
				h4 Блог
				ul
					li
						a(href="single.html") Мерседес
					li
						a(href="single.html") БМВ
					li
						a(href="single.html") Ауди
					li
						a(href="single.html") Порше
					li
						a(href="single.html") Рэнж Ровер
			.footer__block
				h4 О компании
				ul
					li
						a(href="faq.html") Консультация
					li
						a(href="contacts.html") Контакты
					//- li
						a(href="#") Сотрудничество
				.footer__share
					button.share__head
						img(src="img/icons/share.svg" alt="")
						span Поделиться
					.share__body
						ul
							li
								a(href="#")
									img(src="img/icons/facebook-bd.svg" alt="")
							li
								a(href="#")
									img(src="img/icons/instagram-bd.svg" alt="")
			.footer__block
				h4 Контакты
				ul
					li
						a(href="tel:+497451735249") +49 (745) 173-52-49

			.footer__mob
				.footer__share
					button.share__head
						img(src="img/icons/share.svg" alt="")
						span Поделиться
					.share__body
						ul
							li
								a(href="#")
									img(src="img/icons/facebook-bd.svg" alt="")
							li
								a(href="#")
									img(src="img/icons/instagram-bd.svg" alt="")

		.footer__bottom
			p Luxury Cars 2023
			p.copyright ⓒ Все права защищены
			ul.footer__socials
				li
					a(href="#")
						img(src="img/icons/whatsapp.svg" alt="ico")
				li
					a(href="#")
						img(src="img/icons/messenger.svg" alt="ico")
				li
					a(href="#")
						img(src="img/icons/telegram.svg" alt="ico")
				li
					a(href="#")
						img(src="img/icons/viber.svg" alt="ico")

<!-- ** FOOTER ** -->
