doctype html
html(lang="ru")
	head
		title Luxury Cars

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Website")
		meta(name="keywords" content="Website")

		//- <!-- Roboto FONT -->
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

		//- link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")

		link(rel="stylesheet" href="fonts/oswald/stylesheet.css")
		link(rel="stylesheet" href="fonts/roboto/stylesheet.css")
		link(rel="stylesheet" href="fonts/mazzard/stylesheet.css")

		<!-- ** STYLE ** -->
		link(rel="stylesheet" href="css/style.css")


	block body
