<!-- ** HEADER ** -->

include ../mixins.pug
header
	.wrapper
		.header
			a(href="index.html").header__logo
				span Luxury Cars
			nav.header__menu
				ul
					li
						a(href="index.html") Главная
					li.li_active
						a(href="catalog.html") Автомашины
					li.have-child
						a(href="service.html") Сервис
						ul
							li
								a(href="service.html") Осмотр
							li
								a(href="service.html") Оплата
							li
								a(href="service.html") Доставка
							li
								a(href="service.html") Покупка
							li
								a(href="service.html") Оформление документов
							li
								a(href="service.html") Растаможка
							li
								a(href="service.html") Запчасти
							li
								a(href="service.html") О компании
					li
						a(href="contacts.html") Контакты
					li
						a(href="blog.html") Блог
					li
						a(href="faq.html") Часто задаваемые вопросы

			.header__burger.btn
				.line
				.line
				.line
			.header__rht
				.header__switch
					button#switch-sun
						img(src="img/icons/sun.svg" alt="")

				.header__recall
					.recall__head
						.head__icon
							img(src="img/icons/call.svg" alt="")
						.head__arr
							img(src="img/icons/arr-down-wh.svg" alt="")
					.recall__body
						ul
							li
								a(href="#") DE +49 (67) 136-52-34
							li
								a(href="#") KZ +7 (576) 576-14-65

			.header__mob
				.header__rht
					ul.header__socials
						li
							a(href="#")
								img(src="img/icons/whatsapp.svg" alt="ico")
						li
							a(href="#")
								img(src="img/icons/messenger.svg" alt="ico")
						li
							a(href="#")
								img(src="img/icons/telegram.svg" alt="ico")
						li
							a(href="#")
								img(src="img/icons/viber.svg" alt="ico")

					ul.header__calling
						li
							a(href="tel:+49671365234") DE +49 (67) 136-52-34
						li
							a(href="tel:+75765761465") KZ +7 (576) 576-14-65

				nav.header__menu
					ul
						li
							a(href="index.html") Главная
						li
							a(href="catalog.html") Автомашины
						li.have-child
							a(href="service.html") Сервис
							ul
								li
									a(href="service.html") Осмотр
								li
									a(href="service.html") Оплата
								li
									a(href="service.html") Доставка
								li
									a(href="service.html") Покупка
								li
									a(href="service.html") Оформление документов
								li
									a(href="service.html") Растаможка
								li
									a(href="service.html") Запчасти
								li
									a(href="service.html") О компании
						li
							a(href="contacts.html") Контакты
						li
							a(href="blog.html") Блог
						li
							a(href="faq.html") Часто задаваемые вопросы

<!-- ** HEADER ** -->
