<!-- swiper JS -->
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

<!-- zoom JS -->
script(src="js/zoom.min.js")

<!-- main JS -->
script(src="js/main.js")
