extends includes/head.pug
block body

	body
		include includes/header.pug

		main

			section.banner
				.wrapper
					.banner__text
						h1 Автомашины премиального класса из Германии
						ul
							li Гарантируем подлинность пробега
							li Прозрачное ценообразование
							li Растаможивание для ЕАЭС
						a(href="catalog.html").banner__more.btn Сервис
					p &nbsp;

			section.slider
				.wrapper
					.slider__inner
						.swiper-button-prev
							img(src="img/icons/arr-wh-slider-lft.svg" alt="Ico")
							.arr-mob
								img(src="img/icons/arr-left-wh.svg" alt="")
						.swiper-button-next
							img(src="img/icons/arr-wh-slider-rht.svg" alt="Ico")
							.arr-mob
								img(src="img/icons/arr-right-wh.svg" alt="")
						.swiper-wrapper
							a(href="catalog.html?filter=porsche").swiper-slide
								.slide__mark
									img(src="img/cars-marks/porsche.svg" alt="").dark-photo
									img(src="img/cars-marks/porsche-light.svg" alt="").light-photo
								p Сайт рыбатекст поможет
								.slide__photo
									picture.slide__image
										img(src="img/main/car-2-1.png" alt="").dark-photo
										img(src="img/main/car-2-1-l.png" alt="").light-photo
									picture.slide__image_back
										img(src="img/main/car-2-2.png" alt="").dark-photo
										img(src="img/main/car-2-2-l.png" alt="").light-photo
								p.copyright ⓒPorshe
							a(href="catalog.html?filter=bmw").swiper-slide
								.slide__mark
									img(src="img/cars-marks/bmw-logo.svg" alt="").dark-photo
									img(src="img/cars-marks/bmw-light.svg" alt="").light-photo
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										img(src="img/main/car-1-1.png" alt="").dark-photo
										img(src="img/main/car-1-1-l.png" alt="").light-photo
									picture.slide__image_back
										img(src="img/main/car-1-2.png" alt="").dark-photo
										img(src="img/main/car-1-2-l.png" alt="").light-photo
								p.copyright ⓒBMW
							a(href="catalog.html?filter=landrover").swiper-slide
								.slide__mark
									img(src="img/cars-marks/range-rover.svg" alt="").dark-photo
									img(src="img/cars-marks/range-rover-light.svg" alt="").light-photo
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										img(src="img/main/car-3-1.png" alt="").dark-photo
										img(src="img/main/car-3-1-l.png" alt="").light-photo
									picture.slide__image_back
										img(src="img/main/car-3-2.png" alt="").dark-photo
										img(src="img/main/car-3-2-l.png" alt="").light-photo
								p.copyright ⓒLandRover
							a(href="catalog.html?filter=audi").swiper-slide
								.slide__mark
									img(src="img/cars-marks/audi.svg" alt="").dark-photo
									img(src="img/cars-marks/audi-light.png" alt="").light-photo
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										img(src="img/main/car-4-1.png" alt="").dark-photo
										img(src="img/main/car-4-1-l.png" alt="").light-photo
									picture.slide__image_back
										img(src="img/main/car-4-2.png" alt="").dark-photo
										img(src="img/main/car-4-2-l.png" alt="").light-photo
								p.copyright ⓒAudi
							a(href="catalog.html?filter=mercedes").swiper-slide
								.slide__mark
									img(src="img/cars-marks/mers.svg" alt="").dark-photo
									img(src="img/cars-marks/mers-light.svg" alt="").light-photo
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										img(src="img/main/car-5-1.png" alt="").dark-photo
										img(src="img/main/car-5-1-l.png" alt="").light-photo
									picture.slide__image_back
										img(src="img/main/car-5-2.png" alt="").dark-photo
										img(src="img/main/car-5-2-l.png" alt="").light-photo
								p.copyright ⓒMercedes Benz

			section.banner__bottom
				a(href="catalog.html").goto-catalog
					span Каталог
					img(src="img/icons/arr-right-wh.svg" alt="")

			section.slider-photos
				.wrapper
					h2 Мы хотим, чтобы, купив автомобиль у нас, Вы испытали невероятно позитивные чувства!
					p Это дает нам гарантию, что Вы порекомендуете нас Вашим знакомым, друзьям и родственникам. <br>Качество наших автомобилей – это залог нашего и Вашего успеха! Закажите автомобиль Вашей мечты у нас и

					.slider-photos.swiper
						.swiper-button-prev
							<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.72336 10.6306L15.635 0.719099C15.8643 0.489673 16.1703 0.363281 16.4966 0.363281C16.8229 0.363281 17.1289 0.489673 17.3581 0.719099L18.0881 1.44884C18.563 1.92435 18.563 2.69719 18.0881 3.17198L9.76502 11.495L18.0973 19.8273C18.3266 20.0567 18.4531 20.3626 18.4531 20.6887C18.4531 21.0152 18.3266 21.321 18.0973 21.5506L17.3674 22.2802C17.138 22.5096 16.8321 22.636 16.5058 22.636C16.1795 22.636 15.8735 22.5096 15.6442 22.2802L5.72336 12.3597C5.49358 12.1295 5.36737 11.8222 5.36809 11.4956C5.36737 11.1676 5.49358 10.8605 5.72336 10.6306Z" fill="white"/></svg>
						.swiper-button-next
							<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.2766 10.6306L8.36499 0.719099C8.13574 0.489673 7.82972 0.363281 7.50342 0.363281C7.17712 0.363281 6.8711 0.489673 6.64185 0.719099L5.91193 1.44884C5.43696 1.92435 5.43696 2.69719 5.91193 3.17198L14.235 11.495L5.90269 19.8273C5.67345 20.0567 5.54688 20.3626 5.54688 20.6887C5.54688 21.0152 5.67345 21.321 5.90269 21.5506L6.63262 22.2802C6.86204 22.5096 7.16788 22.636 7.49418 22.636C7.82049 22.636 8.12651 22.5096 8.35575 22.2802L18.2766 12.3597C18.5064 12.1295 18.6326 11.8222 18.6319 11.4956C18.6326 11.1676 18.5064 10.8605 18.2766 10.6306Z" fill="white"/></svg>
						.swiper-wrapper
							.swiper-slide
								.image
									img(src="img/main-photos/photo-slide-1.jpg" alt="").zoomable
								.button-lupa
									img(src="img/icons/lupa.svg" alt="")
							.swiper-slide
								.image
									img(src="img/main-photos/photo-slide-2.jpg" alt="").zoomable
								.button-lupa
									img(src="img/icons/lupa.svg" alt="")
							.swiper-slide
								.image
									img(src="img/main-photos/photo-slide-3.jpg" alt="").zoomable
								.button-lupa
									img(src="img/icons/lupa.svg" alt="")
							.swiper-slide
								.image
									img(src="img/main-photos/photo-slide-1.jpg" alt="").zoomable
								.button-lupa
									img(src="img/icons/lupa.svg" alt="")

			section.banner__bottom
				a(href="#").link Читать блог о BMW
				a(href="#").link Получать уведомления о новых поступлениях автомобилей

			button.block-to-up
				.arrs
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
				

		include includes/footer.pug
		include includes/scripts.pug
