extends includes/head.pug
block body

	body
		include includes/header.pug

		main

			section.banner
				.wrapper
					.banner__text
						h1 Автомашины премиального класса из Германии
						ul
							li Гарантируем подлинность пробега
							li Прозрачное ценообразование
							li Растаможивание для ЕАЭС
						a(href="catalog.html").banner__more.btn Сервис
					p &nbsp;

			section.slider
				.wrapper
					.slider__inner
						.swiper-button-prev
							img(src="img/icons/arr-wh-slider-lft.svg" alt="Ico")
						.swiper-button-next
							img(src="img/icons/arr-wh-slider-rht.svg" alt="Ico")
						.swiper-wrapper
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/bmw-logo.svg" alt="")
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										source(srcset="img/main/car-1-1.webp" type="image/webp")
										img(src="img/main/car-1-1.png" alt="")
									picture.slide__image_back
										source(srcset="img/main/car-1-2.webp" type="image/webp")
										img(src="img/main/car-1-2.png" alt="")
								p.copyright ⓒBMW
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/porsche.svg" alt="")
								p Сайт рыбатекст поможет
								.slide__photo
									picture.slide__image
										source(srcset="img/main/car-2-1.webp" type="image/webp")
										img(src="img/main/car-2-1.png" alt="")
									picture.slide__image_back
										source(srcset="img/main/car-2-2.webp" type="image/webp")
										img(src="img/main/car-2-2.png" alt="")
								p.copyright ⓒPorshe
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/range-rover.svg" alt="")
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										source(srcset="img/main/car-3-1.webp" type="image/webp")
										img(src="img/main/car-3-1.png" alt="")
									picture.slide__image_back
										source(srcset="img/main/car-3-2.webp" type="image/webp")
										img(src="img/main/car-3-2.png" alt="")
								p.copyright ⓒLandRover
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/audi.svg" alt="")
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										img(src="img/main/car-4-1.png" alt="")
									picture.slide__image_back
										img(src="img/main/car-4-2.png" alt="")
								p.copyright ⓒAudi
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/mers.svg" alt="")
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										source(srcset="img/main/car-5-1.webp" type="image/webp")
										img(src="img/main/car-5-1.png" alt="")
									picture.slide__image_back
										source(srcset="img/main/car-5-2.webp" type="image/webp")
										img(src="img/main/car-5-2.png" alt="")
								p.copyright ⓒMercedes Benz
							a(href="single.html").swiper-slide
								.slide__mark
									img(src="img/cars-marks/range-rover.svg" alt="")
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
								.slide__photo
									picture.slide__image
										source(srcset="img/main/car-3-1.webp" type="image/webp")
										img(src="img/main/car-3-1.png" alt="")
									picture.slide__image_back
										source(srcset="img/main/car-3-2.webp" type="image/webp")
										img(src="img/main/car-3-2.png" alt="")
								p.copyright ⓒLandRover

			section.banner__bottom
				a(href="#").goto-catalog
					span Каталог
					img(src="img/icons/arr-right-wh.svg" alt="")
				a(href="#").link Читать блог о BMW
				a(href="#").link Получать уведомления о новых поступлениях автомобилей

			button.block-to-up
				.arrs
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
				span Вверх

		include includes/footer.pug
		include includes/scripts.pug
