extends includes/head.pug
block body

	body
		include includes/header.pug

		main

			section.breadcrumbs
				.wrapper
					ul
						li
							a(href="index.html") Главная
						li
							span Политика конфиденциальности

			section.policy
				.wrapper
					h1 Политика конфиденциальности
					ol.policy__list
						li
							.li__inner
								h2 Общие положения
								ol
									li Настоящий документ определяет политику ООО «ТопСтрит» (далее – Компания) в отношении обработки персональных данных и излагает систему основных принципов, применяемых в отношении обработки и обеспечения безопасности персональных данных в Компании.
									li Действие настоящей Политики распространяется на все операции, совершаемые в Компании с персональными данными с использованием средств автоматизации или без их использования.
									li Настоящая Политика обязательна для ознакомления и исполнения всеми лицами, допущенными к обработке персональных данных в Компании, и лицами, участвующими в организации процессов обработки и обеспечения безопасности персональных данных в Компании.
									li Настоящая Политика составлена в соответствии с Конвенцией Совета Европы №108 о защите личности в связи с автоматической обработкой персональных данных и Федеральным законом РФ «О персональных данных» №152-ФЗ от 27 июля 2006 г.
									li Настоящая Политика подлежит актуализации в случае изменения законодательства РФ о персональных данных.
						li
							.li__inner
								h2 ПРИНЦИПЫ И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ В КОМПАНИИ
								ol
									li Настоящий документ определяет политику ООО «ТопСтрит» (далее – Компания) в отношении обработки персональных данных и излагает систему основных принципов, применяемых в отношении обработки и обеспечения безопасности персональных данных в Компании.
								ul
									li Действие настоящей Политики распространяется на все операции, совершаемые в Компании с персональными данными с использованием средств автоматизации или без их использования.
									li Настоящая Политика обязательна для ознакомления и исполнения всеми лицами, допущенными к обработке персональных данных в Компании, и лицами, участвующими в организации процессов обработки и обеспечения безопасности персональных данных в Компании.
									li Настоящая Политика составлена в соответствии с Конвенцией Совета Европы №108 о защите личности в связи с автоматической обработкой персональных данных и Федеральным законом РФ «О персональных данных» №152-ФЗ от 27 июля 2006 г.
									li Настоящая Политика подлежит актуализации в случае изменения законодательства РФ о персональных данных.


		include includes/footer.pug
		include includes/scripts.pug
