extends includes/head.pug
block body

	body
		include includes/header.pug

		main

			section.breadcrumbs
				.wrapper
					ul
						li
							a(href="index.html") Главная
						li
							span Сервис

			section.top
				.wrapper
					.top__text
						h1 Сервис 
						p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации модели развития.

			section.service
				.wrapper
					.service__inner
						.service__item
							.item__text
								h2 Осмотр автомобиля лайф 
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
							.item__photo
								.slider-for.swiper
									.swiper-wrapper
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
								.slider-nav.swiper
									.swiper-button-next
										img(src="img/icons/arr-right-wh.svg" alt="")
									.swiper-button-prev
										img(src="img/icons/arr-left-wh.svg" alt="")
									.swiper-wrapper
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")
										.swiper-slide
											img(src="img/service/photo-1.webp" alt="")

								//- picture
								//- 	source(srcset="img/service/photo-1.webp" type="image/webp")
								//- 	img(src="img/service/photo-1.webp" alt="")
						.service__item
							.item__text
								h2 Осмотр автомобиля лайф 
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
							.item__photo
								picture
									source(srcset="img/service/photo-1.webp" type="image/webp")
									img(src="img/service/photo-1.webp" alt="")
						.service__item
							.item__text
								h2 Осмотр автомобиля лайф 
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
							.item__photo
								picture
									source(srcset="img/service/photo-1.webp" type="image/webp")
									img(src="img/service/photo-1.webp" alt="")
						.service__item
							.item__text
								h2 Осмотр автомобиля лайф 
								ol
									li Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
									li Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
									li Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
								ul.payments
									li
										img(src="img/apay.svg" alt="").img-dark
										img(src="img/apay-dark.svg" alt="").img-light
									li
										img(src="img/gpay.svg" alt="").img-dark
										img(src="img/gpay-dark.svg" alt="").img-light
									li
										img(src="img/mastercard.svg" alt="")
									li
										img(src="img/visa.png" alt="")
							.item__photo
								picture
									source(srcset="img/service/photo-1.webp" type="image/webp")
									img(src="img/service/photo-1.webp" alt="")
						.service__item
							.item__text
								h2 Осмотр автомобиля лайф 
								p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
								a(href="#" download).btn Скачать договор
							.item__photo
								picture
									source(srcset="img/service/photo-1.webp" type="image/webp")
									img(src="img/service/photo-1.webp" alt="")

			

			section.slider-cars
				.wrapper
					h2 Вас может заинтересовать
					.slider-cars__slider
						.swiper-wrapper
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
						button.swiper-button-prev
							img(src="img/icons/arr-left-wh.svg" alt="")
						button.swiper-button-next
							img(src="img/icons/arr-right-wh.svg" alt="")

			section.banner__bottom
				a(href="catalog.html").goto-catalog
					span Каталог
					img(src="img/icons/arr-right-wh.svg" alt="")
				a(href="#").link Читать блог о BMW
				a(href="#").link Получать уведомления о новых поступлениях автомобилей

			button.block-to-up
				.arrs
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
				

		include includes/footer.pug
		include includes/scripts.pug
