extends includes/head.pug
block body

	body
		include includes/header.pug

		section.breadcrumbs
			.wrapper
				ul
					li
						a(href="index.html") Главная
					li
						span Блог
		main.single
			.wrapper

				section.scroll-block
					.scroll-block__lft
						.scroll-block__image
							img(src="img/single/car-blue.png" alt="Photo")
						.scroll-block__text
							h3 BMW 7 
								span M60i xDrive; SZH, Navi, Panorama, Klima, LED
							p M60i xDrive; SZH, Navi, Panorama, Klima, LED
							//- span Мы предоставим вам автомобиль вашей мечты одним щелчком мыши
							p.mob Первичный взнос 50% в размере
								b 66.402,00 €
					.scroll-block__rht
						.scroll-block__info
							.info__buttons
								button
									img(src="img/single/info_icon-1.svg" alt="")
								button
									img(src="img/single/info_icon-2.svg" alt="")
								button
									img(src="img/single/info_icon-3.svg" alt="")
						button(data-popup="popup-email").btn.open-popup Связаться с провайдером


				section.single__top
					a(href="catalog.html").top__back
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.889032 6.63415L6.20968 11.4688C6.33274 11.5807 6.49261 11.638 6.65978 11.63C6.82694 11.622 6.98062 11.5497 7.09243 11.4266L7.44849 11.0348C7.68015 10.7796 7.66121 10.3837 7.40625 10.1521L2.93837 6.09222L7.00274 1.61939C7.11456 1.49623 7.17191 1.33645 7.16392 1.16938C7.15591 1.00212 7.08357 0.848544 6.9605 0.736537L6.56868 0.380675C6.44553 0.268765 6.28575 0.211512 6.11858 0.21951C5.95142 0.227507 5.79774 0.299758 5.68593 0.422911L0.84665 5.74833C0.734571 5.87187 0.677446 6.03239 0.685824 6.19972C0.693491 6.36773 0.765676 6.52197 0.889032 6.63415Z" fill="white"/></svg>
						span Вернуться к списку автомобилей

					.top__navigate
						a(href="#")
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.889032 6.63415L6.20968 11.4688C6.33274 11.5807 6.49261 11.638 6.65978 11.63C6.82694 11.622 6.98062 11.5497 7.09243 11.4266L7.44849 11.0348C7.68015 10.7796 7.66121 10.3837 7.40625 10.1521L2.93837 6.09222L7.00274 1.61939C7.11456 1.49623 7.17191 1.33645 7.16392 1.16938C7.15591 1.00212 7.08357 0.848544 6.9605 0.736537L6.56868 0.380675C6.44553 0.268765 6.28575 0.211512 6.11858 0.21951C5.95142 0.227507 5.79774 0.299758 5.68593 0.422911L0.84665 5.74833C0.734571 5.87187 0.677446 6.03239 0.685824 6.19972C0.693491 6.36773 0.765676 6.52197 0.889032 6.63415Z" fill="white"/></svg>
							span Назад
						p 1 / 67
						a(href="#")
							span Вперед
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.18519 6.63415L1.86454 11.4688C1.74148 11.5807 1.5816 11.638 1.41444 11.63C1.24728 11.622 1.0936 11.5497 0.981784 11.4266L0.625733 11.0348C0.394064 10.7796 0.413007 10.3837 0.667968 10.1521L5.13585 6.09222L1.07147 1.61939C0.959657 1.49623 0.90231 1.33645 0.910304 1.16938C0.918306 1.00212 0.990646 0.848544 1.11371 0.736537L1.50553 0.380675C1.62869 0.268765 1.78847 0.211512 1.95563 0.21951C2.1228 0.227507 2.27647 0.299758 2.38829 0.422911L7.22757 5.74833C7.33965 5.87187 7.39677 6.03239 7.3884 6.19972C7.38073 6.36773 7.30854 6.52197 7.18519 6.63415Z" fill="white"/></svg>

					.top__back.top__back_hidden
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.18519 6.63415L1.86454 11.4688C1.74148 11.5807 1.5816 11.638 1.41444 11.63C1.24728 11.622 1.0936 11.5497 0.981784 11.4266L0.625733 11.0348C0.394064 10.7796 0.413007 10.3837 0.667968 10.1521L5.13585 6.09222L1.07147 1.61939C0.959657 1.49623 0.90231 1.33645 0.910304 1.16938C0.918306 1.00212 0.990646 0.848544 1.11371 0.736537L1.50553 0.380675C1.62869 0.268765 1.78847 0.211512 1.95563 0.21951C2.1228 0.227507 2.27647 0.299758 2.38829 0.422911L7.22757 5.74833C7.33965 5.87187 7.39677 6.03239 7.3884 6.19972C7.38073 6.36773 7.30854 6.52197 7.18519 6.63415Z" fill="white"/></svg>
						span Вернуться к списку автомобилей

				section.single__main
					.main__slider
						.slider__big
							.slider__poster
								.swiper-wrapper
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-1.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-2.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-3.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-4.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")

								.swiper-numbers 1 / 8
							button.swiper-button-prev
								img(src="img/icons/arr-left-wh.svg" alt="")
							button.swiper-button-next
								img(src="img/icons/arr-right-wh.svg" alt="")

						.slider__nav
							.swiper-wrapper
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-1.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-2.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-3.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-4.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")

					.main__info
						.button__title
							.info__buttons
								button
									img(src="img/single/info_icon-1.svg" alt="")
								button
									img(src="img/single/info_icon-2.svg" alt="")
								button
									img(src="img/single/info_icon-3.svg" alt="")

							h1.info__title BMW 7
						p.info__model M60i xDrive; SZH, Navi, Panorama, Klima, LED
						span.info__text Мы предоставим вам автомобиль вашей мечты одним щелчком мыши
						.info__location
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0C4.80701 0.00158253 3.66334 0.476196 2.81977 1.31977C1.9762 2.16334 1.50158 3.30701 1.5 4.5C1.5 7.73063 5.6925 11.7769 5.87063 11.9475C5.90527 11.9812 5.95168 12 6 12C6.04832 12 6.09473 11.9812 6.12937 11.9475C6.3075 11.7769 10.5 7.73063 10.5 4.5C10.4984 3.30701 10.0238 2.16334 9.18023 1.31977C8.33666 0.476196 7.19299 0.00158253 6 0ZM6 6.5625C5.59208 6.5625 5.19331 6.44154 4.85414 6.21491C4.51496 5.98828 4.2506 5.66616 4.0945 5.28928C3.93839 4.91241 3.89755 4.49771 3.97713 4.09763C4.05671 3.69754 4.25315 3.33004 4.54159 3.04159C4.83004 2.75315 5.19754 2.55671 5.59763 2.47713C5.99771 2.39755 6.41241 2.43839 6.78928 2.5945C7.16616 2.7506 7.48828 3.01496 7.71491 3.35414C7.94154 3.69331 8.0625 4.09208 8.0625 4.5C8.06217 5.04691 7.84477 5.57132 7.45805 5.95805C7.07132 6.34477 6.54691 6.56217 6 6.5625Z" fill="white"/></svg>
							span Wielenbach, DE

						.single__main.single__main_mob
							.info__bottom
								button(data-popup="popup-email").open-popup Отправить E-mail
								a(href="#contacts").button Связаться
						hr
						p.info__price € 107 790,-*
						button.info__calculate Рассчитать финансирование
						hr
						.info__general
							ul
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-6.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-6.svg" alt="")
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-1.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-1.svg" alt="")
										
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-2.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-2.svg" alt="")
										
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-3.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-3.svg" alt="")
										
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-4.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-4.svg" alt="")
										
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										.icon-switching
											.light
												img(src="img/single/dark-icons/icon-info-5.svg" alt="")
											.dark
												img(src="img/single/light-icons/icon-info-5.svg" alt="")
										
									.li__text
										span Пробег
										p 71.800 km

						.info__bottom
							button(data-popup="popup-email").open-popup Отправить E-mail
							a(href="#contacts").button Связаться
							//- .select
								.select__head
									span Связаться
									img()
								.select__body
									a(href="#")
										.icon
											img(src="img/icons/whatsapp.svg")
										span WhatsApp
									a(href="#")
										.icon
											img(src="img/icons/viber.svg")
										span Viber
									a(href="#")
										.icon
											img(src="img/icons/telegram.svg")
										span Telegram
						.info__links
							a(href="#") Читать блог о BMW
							a(href="#") Получать уведомления о новых поступлениях автомобилей

				section.single__params
					.params__block
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-2.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-6.svg" alt="")
							span Основные данные
						.params__item
							ul
								li
									span Форма кузова
									p Форма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикап
								li
									span Тип машины
									p Новый
								li
									span Тип вождения
									p Полноприводный автомобиль
								li
									span Места
									p 5
								li
									span Двери
									p 5
								li
									span Страна
									p Венгрия
								li
									span Номер ключа
									p 0005/BYD
								li
									span Доступность
									p через 150 дней с момента заказа
					.params__block
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-6.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-5.svg" alt="")

							span Особая комплектация
						.params__item.ul__hidden
							ul
								li
									span Трансмиссия / Колеса
									p --- <br>--- <br>---
								li
									span Мультимедия
									p --- <br>--- <br>---
								li
									span Безопасность
									p --- <br>--- <br>---
								li
									span Комфорт и интерьер
									p --- <br>--- <br>---
								li
									span Разное
									p --- <br>--- <br>---
							button.show-more
								span Показать больше
								img(src="img/icons/arr-down-blue.svg" alt="")
					.params__block
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-5.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-4.svg" alt="")
							span Базовая комплектация
						.params__item
							ul
								li
									span Стандарт
									p --- <br>--- <br>---
					.params__block.params__block_without-underline
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-3.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-3.svg" alt="")
							span Расход топлива
						.params__item
							ul
								li
									span Расход комбинированный
									p 11,9 л. /100 км.
								li
									span Расход за городом
									p 10 л. / 100 км.
								li
									span Расход в городе
									p 7 л. / 100 км.
								li
									span Экологический стандарт
									p Евро 6
					.params__block
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-4.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-2.svg" alt="")
							span Расход энергии
						.params__item
							ul
								li
									span Электричества
									p 8 кВт / 100 км
					.params__block.params__block_comment
						.params__item
							.icon
								.icon-switching
									.light
										img(src="img/single/dark-icons/icon-info-1-1.svg" alt="")
									.dark
										img(src="img/single/light-icons/icon-info-1-1.svg" alt="")

							span Дополнительная информация
						.params__item
							ul
								li
									p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки новых предложений. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки модели развития.

				section.contacts#contacts
					.contacts__inner
						.contacts__people
							.contacts__info
								.info__lft
									h1 Контакты 
									h2 Адрес Германия
									ul
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (44) 496-00-55
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (67) 136-59-99
										li
											a(href="#")
												img(src="img/icons/email-blue.svg" alt="")
												span zakaz@atp.com.ua
										li
											a(href="#")
												img(src="img/icons/pin-blue.svg" alt="")
												span ул. Пушкинская офис 36
									a(href="#").open-map Открыть карту
								.info__rht
									.info__photo
										img(src="img/contacts/person-1.jpg" alt="")
									h3 Имя
									p Должность
							.contacts__info
								.info__lft
									h2 Адрес Германия
									ul
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (44) 496-00-55
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (67) 136-59-99
										li
											a(href="#")
												img(src="img/icons/email-blue.svg" alt="")
												span zakaz@atp.com.ua
										li
											a(href="#")
												img(src="img/icons/pin-blue.svg" alt="")
												span ул. Пушкинская офис 36
									a(href="#").open-map Открыть карту
								.info__rht
									.info__photo
										img(src="img/contacts/person-2.jpg" alt="")
									h3 Имя
									p Должность
						form(action="#").contacts__form
							h2 Связаться с нами
							label
								span Ваше сообщение
								textarea(placeholder="Ваше сообщение" required)
							label
								span Ваше имя
								input(type="text" placeholder="Ваше имя" required)
							label
								span E-mail
								input(type="email" placeholder="E-mail" required)
							label
								span Телефон
								input(type="tel" placeholder="Телефон")

							.checkbox
								input(type="checkbox" checked)#ch-bx-1
								label(for="ch-bx-1") Я хотел бы получить предложения, соответствующие моим интересам и новости от Luxury Cars по электронной почте.

							button Отправить

							p.bottom__text мы используем ваш адрес электронной почты в соответствии с нашими. Правила защиты данных, например, для рекомендаций транспортных средств, похожих на ваш поиск. Если у вас нет других рекомендаций по транспортным средствам. Если вы хотите получить больше, вы можете возразить здесь в любое время.

							//- .inputs
							//- 	input(placeholder="Ваше имя" type="text" required)
							//- 	input(placeholder="Ваш e-mail" type="email" required)
							//- textarea(placeholder="Напишите ваше обращение" required)
							//- .form__bottom
							//- 	p Техническая поддержка рассмотрит ваше обращение <span>в течение 24 часов</span>. Вы получите ответ на почту.
							//- 	button(type="submit").btn Отправить

				section.slider-cars
					h2 Похожие автомобили
					.slider-cars__slider
						.swiper-wrapper
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
						button.swiper-button-prev
							img(src="img/icons/arr-left-wh.svg" alt="")
						button.swiper-button-next
							img(src="img/icons/arr-right-wh.svg" alt="")

				section.single__bottom
					a(href="catalog.html").goto-catalog
						span Каталог
						img(src="img/icons/arr-right-wh.svg" alt="")
					a(href="#").link Читать блог о BMW
					a(href="#").link Получать уведомления о новых поступлениях автомобилей

								
			button.block-to-up
				.arrs
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
				



		include includes/footer.pug
		include includes/scripts.pug
