extends includes/head.pug
block body

	body
		include includes/header.pug

		section.breadcrumbs
			.wrapper
				ul
					li
						a(href="index.html") Главная
					li
						span Блог
		main.single
			.wrapper


				section.single__top
					.top__back
						img(src="img/single/back.svg" alt="")
						span Вернуться к списку автомобилей

					.top__navigate
						a(href="#")
							img(src="img/single/back.svg" alt="")
							span Назад
						p 1 / 67
						a(href="#")
							span Вперед
							img(src="img/single/forward.svg" alt="")

					.top__back.top__back_hidden
						img(src="img/single/back.svg" alt="")
						span Вернуться к списку автомобилей

				section.single__main
					.main__slider
						.slider__poster
							.swiper-wrapper
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/photo-1.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/photo-2.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/photo-3.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/photo-4.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")
									button.open-big-photo
										img(src="img/single/open_big_photo.svg" alt="")

							.swiper-numbers 1 / 8
							.swiper-button-prev
							.swiper-button-next

						.slider__nav
							.swiper-wrapper
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-1.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-2.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-3.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-4.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")

					.main__info




		include includes/footer.pug
		include includes/scripts.pug
