extends includes/head.pug
block body

	body
		include includes/header.pug

		section.breadcrumbs
			.wrapper
				ul
					li
						a(href="index.html") Главная
					li
						span Блог
		main.single
			.wrapper

				section.scroll-block
					.scroll-block__lft
						.scroll-block__image
							img(src="img/single/car-blue.png" alt="Photo")
						.scroll-block__text
							h3 BMW 7 
							p M60i xDrive; SZH, Navi, Panorama, Klima, LED
							span Мы предоставим вам автомобиль вашей мечты одним щелчком мыши
							p.mob Первичный взнос 50% в размере
								b 66.402,00 €
					.scroll-block__rht
						.scroll-block__info
							.info__buttons
								button
									img(src="img/single/info_icon-1.svg" alt="")
								button
									img(src="img/single/info_icon-2.svg" alt="")
								button
									img(src="img/single/info_icon-3.svg" alt="")
						button(data-popup="popup-email").btn.open-popup Связаться с провайдером


				section.single__top
					a(href="catalog.html").top__back
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.889032 6.63415L6.20968 11.4688C6.33274 11.5807 6.49261 11.638 6.65978 11.63C6.82694 11.622 6.98062 11.5497 7.09243 11.4266L7.44849 11.0348C7.68015 10.7796 7.66121 10.3837 7.40625 10.1521L2.93837 6.09222L7.00274 1.61939C7.11456 1.49623 7.17191 1.33645 7.16392 1.16938C7.15591 1.00212 7.08357 0.848544 6.9605 0.736537L6.56868 0.380675C6.44553 0.268765 6.28575 0.211512 6.11858 0.21951C5.95142 0.227507 5.79774 0.299758 5.68593 0.422911L0.84665 5.74833C0.734571 5.87187 0.677446 6.03239 0.685824 6.19972C0.693491 6.36773 0.765676 6.52197 0.889032 6.63415Z" fill="white"/></svg>
						span Вернуться к списку автомобилей

					.top__navigate
						a(href="#")
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.889032 6.63415L6.20968 11.4688C6.33274 11.5807 6.49261 11.638 6.65978 11.63C6.82694 11.622 6.98062 11.5497 7.09243 11.4266L7.44849 11.0348C7.68015 10.7796 7.66121 10.3837 7.40625 10.1521L2.93837 6.09222L7.00274 1.61939C7.11456 1.49623 7.17191 1.33645 7.16392 1.16938C7.15591 1.00212 7.08357 0.848544 6.9605 0.736537L6.56868 0.380675C6.44553 0.268765 6.28575 0.211512 6.11858 0.21951C5.95142 0.227507 5.79774 0.299758 5.68593 0.422911L0.84665 5.74833C0.734571 5.87187 0.677446 6.03239 0.685824 6.19972C0.693491 6.36773 0.765676 6.52197 0.889032 6.63415Z" fill="white"/></svg>
							span Назад
						p 1 / 67
						a(href="#")
							span Вперед
							<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.18519 6.63415L1.86454 11.4688C1.74148 11.5807 1.5816 11.638 1.41444 11.63C1.24728 11.622 1.0936 11.5497 0.981784 11.4266L0.625733 11.0348C0.394064 10.7796 0.413007 10.3837 0.667968 10.1521L5.13585 6.09222L1.07147 1.61939C0.959657 1.49623 0.90231 1.33645 0.910304 1.16938C0.918306 1.00212 0.990646 0.848544 1.11371 0.736537L1.50553 0.380675C1.62869 0.268765 1.78847 0.211512 1.95563 0.21951C2.1228 0.227507 2.27647 0.299758 2.38829 0.422911L7.22757 5.74833C7.33965 5.87187 7.39677 6.03239 7.3884 6.19972C7.38073 6.36773 7.30854 6.52197 7.18519 6.63415Z" fill="white"/></svg>

					.top__back.top__back_hidden
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.18519 6.63415L1.86454 11.4688C1.74148 11.5807 1.5816 11.638 1.41444 11.63C1.24728 11.622 1.0936 11.5497 0.981784 11.4266L0.625733 11.0348C0.394064 10.7796 0.413007 10.3837 0.667968 10.1521L5.13585 6.09222L1.07147 1.61939C0.959657 1.49623 0.90231 1.33645 0.910304 1.16938C0.918306 1.00212 0.990646 0.848544 1.11371 0.736537L1.50553 0.380675C1.62869 0.268765 1.78847 0.211512 1.95563 0.21951C2.1228 0.227507 2.27647 0.299758 2.38829 0.422911L7.22757 5.74833C7.33965 5.87187 7.39677 6.03239 7.3884 6.19972C7.38073 6.36773 7.30854 6.52197 7.18519 6.63415Z" fill="white"/></svg>
						span Вернуться к списку автомобилей

				section.single__main
					.main__slider
						.slider__big
							.slider__poster
								.swiper-wrapper
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-1.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-2.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-3.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/photo-4.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")
									.swiper-slide
										img(src="img/single/slider-photo.jpg" alt="").zoomable
										button.open-big-photo
											img(src="img/single/open_big_photo.svg" alt="")

								.swiper-numbers 1 / 8
							button.swiper-button-prev
								img(src="img/icons/arr-left-wh.svg" alt="")
							button.swiper-button-next
								img(src="img/icons/arr-right-wh.svg" alt="")

						.slider__nav
							.swiper-wrapper
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-1.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-2.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-3.jpg" alt="")
								.swiper-slide
									img(src="img/single/photo-4.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")
								.swiper-slide
									img(src="img/single/slider-photo.jpg" alt="")

					.main__info
						.button__title
							.info__buttons
								button
									img(src="img/single/info_icon-1.svg" alt="")
								button
									img(src="img/single/info_icon-2.svg" alt="")
								button
									img(src="img/single/info_icon-3.svg" alt="")

							h1.info__title BMW 7
						p.info__model M60i xDrive; SZH, Navi, Panorama, Klima, LED
						span.info__text Мы предоставим вам автомобиль вашей мечты одним щелчком мыши
						.info__location
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0C4.80701 0.00158253 3.66334 0.476196 2.81977 1.31977C1.9762 2.16334 1.50158 3.30701 1.5 4.5C1.5 7.73063 5.6925 11.7769 5.87063 11.9475C5.90527 11.9812 5.95168 12 6 12C6.04832 12 6.09473 11.9812 6.12937 11.9475C6.3075 11.7769 10.5 7.73063 10.5 4.5C10.4984 3.30701 10.0238 2.16334 9.18023 1.31977C8.33666 0.476196 7.19299 0.00158253 6 0ZM6 6.5625C5.59208 6.5625 5.19331 6.44154 4.85414 6.21491C4.51496 5.98828 4.2506 5.66616 4.0945 5.28928C3.93839 4.91241 3.89755 4.49771 3.97713 4.09763C4.05671 3.69754 4.25315 3.33004 4.54159 3.04159C4.83004 2.75315 5.19754 2.55671 5.59763 2.47713C5.99771 2.39755 6.41241 2.43839 6.78928 2.5945C7.16616 2.7506 7.48828 3.01496 7.71491 3.35414C7.94154 3.69331 8.0625 4.09208 8.0625 4.5C8.06217 5.04691 7.84477 5.57132 7.45805 5.95805C7.07132 6.34477 6.54691 6.56217 6 6.5625Z" fill="white"/></svg>
							span Wielenbach, DE
						hr
						p.info__price € 107 790,-*
						button.info__calculate Рассчитать финансирование
						hr
						.info__general
							ul
								li
									.icon
										<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_1_3506" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="24" height="24"><path d="M1.36816 1.36843H24.6313V24.6316H1.36816V1.36843Z" fill="white"/></mask><g mask="url(#mask0_1_3506)"><path d="M23.9498 15.5559H21.7598" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.4826 10.0825L20.5859 11.1775" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.4826 21.0291L20.5859 19.934" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M18.4749 6.07319L17.3799 7.96973" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 4.6032V6.79321" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.1896 21.3958H10.8096" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><mask id="mask1_1_3506" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="24" height="24"><path d="M1.36816 1.36843H24.6313V24.6316H1.36816V1.36843Z" fill="white"/></mask><g mask="url(#mask1_1_3506)"><path d="M2.0498 15.5559H4.23981" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.5166 10.0825L5.41323 11.1775" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.5166 21.0291L5.41323 19.934" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M7.52441 6.07319L8.61942 7.96973" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><mask id="mask2_1_3506" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="24" height="24"><path d="M1.36816 1.36843H24.6313V24.6316H1.36816V1.36843Z" fill="white"/></mask><g mask="url(#mask2_1_3506)"><path d="M11.9674 14.5255C12.5372 13.9554 13.4624 13.9554 14.0321 14.5255C14.602 15.0953 14.602 16.0202 14.0321 16.59C13.4624 17.1598 12.5372 17.1598 11.967416.59C11.3976 16.0202 11.3976 15.0953 11.9674 14.5255Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.35449 10.91L11.9678 14.5234" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.0332 16.5873L15.1909 17.7451" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.51675 21.0291C2.58386 19.4179 2.0498 17.548 2.0498 15.554C2.0498 9.51033 6.95633 4.60399 12.9998 4.60399C19.0434 4.60399 23.9499 9.51033 23.9499 15.554C23.9499 17.548 23.4158 19.4179 22.4829 21.0291" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										<svg width="8" height="26" viewBox="0 0 8 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.20312 12.6108V6.68555" stroke="#1D1D1D" stroke-linecap="round"/><path d="M7.26499 3.12188C7.26499 1.52046 5.87709 1.04004 5.18314 1C4.38243 1 3.14133 1.48043 2.94115 3.12188C2.74097 4.76334 4.14222 6.56494 5.18314 6.56494C6.224076.56494 7.26499 5.12366 7.26499 3.12188Z" stroke="#1D1D1D" stroke-linecap="round"/><path d="M1 19.3752V23.6608C1 24.213 1.44771 24.6608 2 24.6608H4.20373C4.75602 24.6608 5.20373 24.213 5.20373 23.6608V23.4988C5.20373 22.9466 5.65145 22.4988 6.2037322.4988H6.24555C6.79783 22.4988 7.24555 22.0511 7.24555 21.4988V10.2871C7.24555 9.73482 6.79783 9.28711 6.24555 9.28711H4.08185C3.52956 9.28711 3.08185 9.73482 3.0818510.2871V17.3752C3.08185 17.9275 2.63413 18.3752 2.08185 18.3752H2C1.44772 18.3752 1 18.8229 1 19.3752Z" stroke="#1D1D1D" stroke-linecap="round"/></svg>
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.02198 20H16.9775C18.4405 20 19.6294 18.8111 19.6294 17.3481V4.13331C19.6294 2.67035 18.4405 1.48145 16.9775 1.48145H15.9257V0.740727C15.9257 0.333315 15.5923 0 15.1849 0C14.7775 0 14.4442 0.333315 14.4442 0.740727V1.48145H5.55533V0.740727C5.55533 0.333315 5.22195 0 4.81454 0C4.40713 0 4.07381 0.333315 4.073810.740727V1.48145H3.02198C1.55902 1.48145 0.370117 2.67035 0.370117 4.13331V17.3481C0.370117 18.8111 1.55902 20 3.02198 20ZM1.85163 4.13331C1.85163 3.48889 2.377552.96297 3.02198 2.96297H4.07381V3.7037C4.07381 4.11111 4.40713 4.44442 4.81454 4.44442C5.22195 4.44442 5.55527 4.11111 5.55527 3.7037V2.96297H14.4442V3.7037C14.4442 4.11111 14.7775 4.44442 15.1849 4.44442C15.5923 4.44442 15.9256 4.11111 15.9256 3.7037V2.96297H16.9775C17.6219 2.96297 18.1478 3.48889 18.1478 4.13331V17.3481C18.1478 17.9926 17.6219 18.5185 16.9775 18.5185H3.02198C2.37755 18.5185 1.85163 17.9926 1.85163 17.3481V4.13331Z" fill="#1D1D1D"/><path d="M5.74036 8.51881C6.25173 8.51881 6.66627 8.10427 6.66627 7.5929C6.66627 7.08154 6.25173 6.66699 5.74036 6.66699C5.229 6.66699 4.81445 7.08154 4.81445 7.5929C4.81445 8.10427 5.229 8.51881 5.74036 8.51881Z" fill="#1D1D1D"/><path d="M9.81458 8.51881C10.3259 8.51881 10.7405 8.10427 10.7405 7.5929C10.7405 7.08154 10.3259 6.66699 9.81458 6.66699C9.30322 6.66699 8.88867 7.08154 8.88867 7.5929C8.88867 8.10427 9.30322 8.51881 9.81458 8.51881Z" fill="#1D1D1D"/><path d="M13.8888 8.51881C14.4002 8.51881 14.8147 8.10427 14.8147 7.5929C14.8147 7.08154 14.4002 6.66699 13.8888 6.66699C13.3774 6.66699 12.9629 7.08154 12.9629 7.5929C12.9629 8.10427 13.3774 8.51881 13.8888 8.51881Z" fill="#1D1D1D"/><path d="M5.74036 12.2219C6.25173 12.2219 6.66627 11.8074 6.66627 11.296C6.66627 10.7847 6.25173 10.3701 5.74036 10.3701C5.229 10.3701 4.81445 10.7847 4.81445 11.296C4.81445 11.8074 5.229 12.2219 5.74036 12.2219Z" fill="#1D1D1D"/><path d="M9.81458 12.2219C10.3259 12.2219 10.7405 11.8074 10.7405 11.296C10.7405 10.7847 10.3259 10.3701 9.81458 10.3701C9.30322 10.3701 8.88867 10.7847 8.88867 11.296C8.88867 11.8074 9.30322 12.2219 9.81458 12.2219Z" fill="#1D1D1D"/><path d="M13.8888 12.2219C14.4002 12.2219 14.8147 11.8074 14.8147 11.296C14.8147 10.7847 14.4002 10.3701 13.8888 10.3701C13.3774 10.3701 12.9629 10.7847 12.9629 11.296C12.9629 11.8074 13.3774 12.2219 13.8888 12.2219Z" fill="#1D1D1D"/><path d="M5.74036 15.926C6.25173 15.926 6.66627 15.5115 6.66627 15.0001C6.66627 14.4888 6.25173 14.0742 5.74036 14.0742C5.229 14.0742 4.81445 14.4888 4.81445 15.0001C4.81445 15.5115 5.229 15.926 5.74036 15.926Z" fill="#1D1D1D"/><path d="M9.81458 15.926C10.3259 15.926 10.7405 15.5115 10.7405 15.0001C10.7405 14.4888 10.3259 14.0742 9.81458 14.0742C9.30322 14.0742 8.88867 14.4888 8.88867 15.0001C8.88867 15.5115 9.30322 15.926 9.81458 15.926Z" fill="#1D1D1D"/><path d="M13.8888 15.926C14.4002 15.926 14.8147 15.5115 14.8147 15.0001C14.8147 14.4888 14.4002 14.0742 13.8888 14.0742C13.3774 14.0742 12.9629 14.4888 12.9629 15.0001C12.9629 15.5115 13.3774 15.926 13.8888 15.926Z" fill="#1D1D1D"/></svg>
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5409 2.61328H4.73727C4.36813 2.61328 4.06934 2.91207 4.06934 3.28122V7.99506C4.06934 8.36376 4.36813 8.66299 4.73727 8.66299H11.5409C11.9096 8.66299 12.2088 8.36376 12.2088 7.99506V3.28122C12.2088 2.91207 11.9096 2.61328 11.5409 2.61328ZM10.8729 7.32712H5.40521V3.94915H10.8729V7.32712Z" fill="#1D1D1D"/><path d="M21.0159 3.82077L21.0157 3.82068L18.1644 1.12205C17.8964 0.868499 17.4737 0.880121 17.2201 1.14805C16.9666 1.41598 16.9782 1.8387 17.2461 2.09229L18.7257 3.49268C17.7991 3.836 17.1365 4.72925 17.1365 5.77386C17.1365 6.86081 17.8539 7.7839 18.8398 8.09382V16.3575C18.8398 16.5788 18.6594 16.7587 18.4386 16.7587C18.2173 16.7587 18.0374 16.5788 18.0374 16.3575V12.1584C18.0374 11.0541 17.1383 10.1551 16.034 10.1551H14.4848V2.22841C14.4848 1.1232 13.5862 0.224609 12.481 0.224609H3.79699C2.69222 0.224609 1.79318 1.1232 1.79318 2.22841V17.0913H1.56208C0.700441 17.0913 0 17.7922 0 18.6538V21.1069C0 21.4761 0.29879 21.7749 0.667935 21.7749H15.6105C15.9792 21.7749 16.2785 21.4761 16.2785 21.1069V18.6538C16.2785 17.7922 15.5776 17.0913 14.7159 17.0913H14.4848V11.4909H16.034C16.4018 11.4909 16.7015 11.7906 16.7015 12.1584V16.3575C16.7015 17.3153 17.4808 18.0945 18.4386 18.0945C19.3964 18.0945 20.1756 17.3153 20.1756 16.3575V8.12895C21.2234 7.85822 22 6.90485 22 5.77381C22 4.97496 21.6126 4.26473 21.0159 3.82077ZM13.149 17.0913H3.12905V2.22841C3.12905 1.86016 3.42873 1.56048 3.79699 1.56048H12.481C12.8497 1.56048 13.149 1.86016 13.149 2.22841C13.149 2.48401 13.149 16.866 13.149 17.0913ZM14.9426 18.6538V20.439H1.33587V18.6538C1.33587 18.5287 1.4374 18.4272 1.56208 18.4272C2.07919 18.4272 14.0942 18.4272 14.7159 18.4272C14.8411 18.4272 14.9426 18.5287 14.9426 18.6538ZM19.5683 6.86967C18.9653 6.86967 18.4724 6.37883 18.4724 5.77381C18.4724 5.16956 18.964 4.67796 19.5683 4.67796C20.1725 4.67796 20.6641 5.16956 20.6641 5.77381C20.6641 6.37838 20.1721 6.86967 19.5683 6.86967Z" fill="#1D1D1D"/></svg>

									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										<svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1_935_25417" fill="white"><path d="M26.9785 2.86183C26.9179 2.66987 26.7398 2.53934 26.5384 2.53934H22.905C21.5089 1.33574 19.5124 0.379695 17.6712 0.258121C14.5877 0.0544353 11.9043 0.444154 9 1.50024L6.30394 2.7056C6.06439 2.79269 5.94078 3.05753 6.02793 3.29708C6.09614 3.48461 6.27315 3.60106 6.46174 3.60102C6.51409 3.60102 6.5674 3.59202 6.61946 3.57309L9.18761 2.63922C11.9708 1.62717 14.8805 1.21292 17.8354 1.40807C19.0849 1.49059 20.2984 1.88624 21.3558 2.54354C21.1291 2.57285 20.9538 2.76615 20.9538 3.00081C20.9538 3.25573 21.1605 3.46237 21.4154 3.46237H25.0778L24.3458 3.9764C23.6385 4.47295 22.7314 4.59309 21.9193 4.29779C21.6799 4.21069 21.4149 4.33425 21.3278 4.5738C21.2407 4.81335 21.3643 5.07819 21.6038 5.16528C21.9999 5.30929 22.4125 5.38005 22.8232 5.38005C23.0469 5.38005 23.2699 5.35891 23.4893 5.31732L22.9221 16.7871C22.9214 16.8001 22.9199 16.8131 22.919 16.8261C22.1762 16.7153 21.4232 17.0419 21.0005 17.6754C20.859 17.8875 20.9162 18.1741 21.1282 18.3156C21.207 18.3681 21.296 18.3932 21.384 18.3932C21.5331 18.3932 21.6794 18.3212 21.7684 18.1879C21.966 17.8917 22.3002 17.7224 22.6464 17.7278C22.3931 18.1703 21.9902 18.5049 21.5073 18.6714L21.1005 18.8117C21.0367 18.8337 20.9714 18.8492 20.9056 18.8591L20.4092 16.8735C20.3474 16.6262 20.0967 16.4758 19.8495 16.5377C19.6022 16.5995 19.4518 16.8501 19.5137 17.0974L19.8757 18.5455L19.5008 18.3331C19.2216 18.1748 19.0817 17.8581 19.1528 17.5451C19.2711 17.0245 19.2392 16.4836 19.0605 15.9806L18.0395 13.1064C18.1582 13.1268 18.2791 13.142 18.4023 13.1504L20.4841 13.2921C20.4947 13.2929 20.5053 13.2932 20.5159 13.2932C20.7565 13.2932 20.9593 13.1066 20.9759 12.863C20.9932 12.6087 20.801 12.3885 20.5467 12.3712L18.465 12.2295C17.1268 12.1384 16.4799 11.1424 16.3325 10.3171C16.1852 9.49193 16.4473 8.33355 17.6712 7.7849L19.5273 6.9529C19.7599 6.84863 19.8639 6.57553 19.7596 6.3429C19.6554 6.11032 19.3824 6.00624 19.1496 6.11055L17.2936 6.94256C16.6948 7.211 15.7691 7.26879 15.4353 7.7849C14.6093 8.01259 11.7413 9.36717 9.47802 11.379C9.28749 11.5483 9.27032 11.8401 9.43967 12.0306C9.53087 12.1332 9.65757 12.1856 9.78482 12.1855C9.89389 12.1855 10.0034 12.1471 10.0913 12.0689C11.7776 10.57 14.1732 9.64853 15.4353 9.2365C15.3552 9.64119 15.3497 10.065 15.4238 10.4795C15.4741 10.7616 15.5609 11.0349 15.6787 11.2919C15.5076 11.7969 14.9619 13.3373 14.1457 14.9703C12.8664 17.53 11.514 19.1561 10.2349 19.6729C9.99852 19.7684 9.88433 20.0374 9.97983 20.2737C10.0524 20.4534 10.2253 20.5625 10.4079 20.5625C10.4655 20.5625 10.524 20.5517 10.5807 20.5288C13.5 19.6729 16 15.0003 16.3275 12.2313C16.3418 12.2456 16.3557 12.2602 16.3702 12.2741C16.5362 12.4339 16.7176 12.5729 16.9121 12.6908L18.1907 16.2897C18.3107 16.6275 18.3321 16.9909 18.2527 17.3406C18.0906 18.054 18.4023 18.5455 19 19.0003L19.5 19.5003C19.8075 19.6745 20.2761 19.8621 20.6223 19.8621C20.8445 19.8621 21.1696 19.9361 21.384 19.8621L21.9193 19.7949C22.6305 19.5496 23.2883 18.9747 23.6508 18.3156C23.8709 17.9154 23.9774 17.2822 24 16.8261L24.5991 5.16528C24.7532 5.08779 24.733 4.83269 24.8763 4.73207L26.8037 3.37873C26.9684 3.26293 27.0392 3.0538 26.9785 2.86183Z"/></mask><path d="M26.9785 2.86183C26.9179 2.66987 26.7398 2.53934 26.5384 2.53934H22.905C21.5089 1.33574 19.5124 0.379695 17.6712 0.258121C14.5877 0.0544353 11.9043 0.444154 9 1.50024L6.30394 2.7056C6.06439 2.79269 5.94078 3.05753 6.02793 3.29708C6.09614 3.48461 6.27315 3.60106 6.46174 3.60102C6.51409 3.60102 6.5674 3.59202 6.61946 3.57309L9.18761 2.63922C11.9708 1.62717 14.8805 1.21292 17.8354 1.40807C19.0849 1.49059 20.2984 1.88624 21.3558 2.54354C21.1291 2.57285 20.9538 2.76615 20.9538 3.00081C20.9538 3.25573 21.1605 3.46237 21.4154 3.46237H25.0778L24.3458 3.9764C23.6385 4.47295 22.7314 4.59309 21.9193 4.29779C21.6799 4.21069 21.4149 4.33425 21.3278 4.5738C21.2407 4.81335 21.3643 5.07819 21.6038 5.16528C21.9999 5.30929 22.4125 5.38005 22.8232 5.38005C23.0469 5.38005 23.2699 5.35891 23.4893 5.31732L22.9221 16.7871C22.9214 16.8001 22.9199 16.8131 22.919 16.8261C22.1762 16.7153 21.4232 17.0419 21.0005 17.6754C20.859 17.8875 20.9162 18.1741 21.1282 18.3156C21.207 18.3681 21.296 18.3932 21.384 18.3932C21.5331 18.3932 21.6794 18.3212 21.7684 18.1879C21.966 17.8917 22.3002 17.7224 22.6464 17.7278C22.3931 18.1703 21.9902 18.5049 21.5073 18.6714L21.1005 18.8117C21.0367 18.8337 20.9714 18.8492 20.9056 18.8591L20.4092 16.8735C20.3474 16.6262 20.0967 16.4758 19.8495 16.5377C19.6022 16.5995 19.4518 16.8501 19.5137 17.0974L19.8757 18.5455L19.5008 18.3331C19.2216 18.1748 19.0817 17.8581 19.1528 17.5451C19.2711 17.0245 19.2392 16.4836 19.0605 15.9806L18.0395 13.1064C18.1582 13.1268 18.2791 13.142 18.4023 13.1504L20.4841 13.2921C20.4947 13.2929 20.5053 13.2932 20.5159 13.2932C20.7565 13.2932 20.9593 13.1066 20.9759 12.863C20.9932 12.6087 20.801 12.3885 20.5467 12.3712L18.465 12.2295C17.1268 12.1384 16.4799 11.1424 16.3325 10.3171C16.1852 9.49193 16.4473 8.33355 17.6712 7.7849L19.5273 6.9529C19.7599 6.84863 19.8639 6.57553 19.7596 6.3429C19.6554 6.11032 19.3824 6.00624 19.1496 6.11055L17.2936 6.94256C16.6948 7.211 15.7691 7.26879 15.4353 7.7849C14.6093 8.01259 11.7413 9.36717 9.47802 11.379C9.28749 11.5483 9.27032 11.8401 9.43967 12.0306C9.53087 12.1332 9.65757 12.1856 9.78482 12.1855C9.89389 12.1855 10.0034 12.1471 10.0913 12.0689C11.7776 10.57 14.1732 9.64853 15.4353 9.2365C15.3552 9.64119 15.3497 10.065 15.4238 10.4795C15.4741 10.7616 15.5609 11.0349 15.6787 11.2919C15.5076 11.7969 14.9619 13.3373 14.1457 14.9703C12.8664 17.53 11.514 19.1561 10.2349 19.6729C9.99852 19.7684 9.88433 20.0374 9.97983 20.2737C10.0524 20.4534 10.2253 20.5625 10.4079 20.5625C10.4655 20.5625 10.524 20.5517 10.5807 20.5288C13.5 19.6729 16 15.0003 16.3275 12.2313C16.3418 12.2456 16.3557 12.2602 16.3702 12.2741C16.5362 12.4339 16.7176 12.5729 16.9121 12.6908L18.1907 16.2897C18.3107 16.6275 18.3321 16.9909 18.2527 17.3406C18.0906 18.054 18.4023 18.5455 19 19.0003L19.5 19.5003C19.8075 19.6745 20.2761 19.8621 20.6223 19.8621C20.8445 19.8621 21.1696 19.9361 21.384 19.8621L21.9193 19.7949C22.6305 19.5496 23.2883 18.9747 23.6508 18.3156C23.8709 17.9154 23.9774 17.2822 24 16.8261L24.5991 5.16528C24.7532 5.08779 24.733 4.83269 24.8763 4.73207L26.8037 3.37873C26.9684 3.26293 27.0392 3.0538 26.9785 2.86183Z" fill="white"/><path d="M22.905 2.53934L22.2521 3.29674L22.5335 3.53934H22.905V2.53934ZM17.6712 0.258121L17.6053 1.25595L17.6053 1.25595L17.6712 0.258121ZM9 1.50024L8.65826 0.56045L8.62457 0.572699L8.59185 0.587327L9 1.50024ZM6.30394 2.7056L6.64564 3.64541L6.67934 3.63315L6.71208 3.61851L6.30394 2.7056ZM6.02793 3.29708L6.96768 2.95523L6.96768 2.95522L6.02793 3.29708ZM6.46174 3.60102V2.60102H6.4615L6.46174 3.60102ZM6.61946 3.57309L6.96107 4.51294L6.9612 4.51289L6.61946 3.57309ZM9.18761 2.63922L8.84587 1.69943L8.84587 1.69943L9.18761 2.63922ZM17.8354 1.40807L17.9013 0.410239L17.9013 0.410239L17.8354 1.40807ZM21.3558 2.54354L21.484 3.53529L24.2666 3.17549L21.8837 1.69425L21.3558 2.54354ZM25.0778 3.46237L25.6525 4.28077L28.2422 2.46237H25.0778V3.46237ZM24.3458 3.9764L24.9203 4.79485L24.9204 4.7948L24.3458 3.9764ZM21.9193 4.29779L21.5775 5.23755L21.5776 5.23758L21.9193 4.29779ZM21.3278 4.5738L22.2676 4.9155L22.2677 4.91534L21.3278 4.5738ZM21.6038 5.16528L21.9456 4.22549L21.9455 4.22547L21.6038 5.16528ZM23.4893 5.31732L24.488 5.36671L24.5508 4.09829L23.303 4.33482L23.4893 5.31732ZM22.9221 16.7871L23.9209 16.8367L23.9209 16.8365L22.9221 16.7871ZM22.919 16.8261L22.7714 17.8152L23.8439 17.9752L23.9168 16.8933L22.919 16.8261ZM21.0005 17.6754L20.1687 17.1204L20.1686 17.1204L21.0005 17.6754ZM21.1282 18.3156L20.5731 19.1473L20.5733 19.1475L21.1282 18.3156ZM21.7684 18.1879L22.6001 18.7431L22.6003 18.7428L21.7684 18.1879ZM22.6464 17.7278L23.5143 18.2245L24.3558 16.7541L22.6618 16.7279L22.6464 17.7278ZM21.5073 18.6714L21.8333 19.6168L21.8333 19.6167L21.5073 18.6714ZM21.1005 18.8117L20.7745 17.8663L20.7745 17.8663L21.1005 18.8117ZM20.9056 18.8591L19.9355 19.1016L20.1558 19.9829L21.0541 19.848L20.9056 18.8591ZM20.4092 16.8735L21.3794 16.631L21.3794 16.6309L20.4092 16.8735ZM19.8495 16.5377L20.092 17.5079L20.0923 17.5078L19.8495 16.5377ZM19.5137 17.0974L20.4838 16.8549L20.4838 16.8548L19.5137 17.0974ZM19.8757 18.5455L19.3827 19.4155L21.4113 20.5651L20.8458 18.3029L19.8757 18.5455ZM19.5008 18.3331L19.0078 19.2031L19.0078 19.2031L19.5008 18.3331ZM19.1528 17.5451L18.1777 17.3235L18.1777 17.3235L19.1528 17.5451ZM19.0605 15.9806L18.1182 16.3153L18.1182 16.3153L19.0605 15.9806ZM18.0395 13.1064L18.2088 12.1209L16.5254 11.8317L17.0972 13.4412L18.0395 13.1064ZM18.4023 13.1504L18.3344 14.1481L18.3344 14.1481L18.4023 13.1504ZM20.4841 13.2921L20.5532 12.2945L20.552 12.2944L20.4841 13.2921ZM20.9759 12.863L21.9736 12.9311L21.9736 12.9309L20.9759 12.863ZM20.5467 12.3712L20.4788 13.3689L20.4788 13.3689L20.5467 12.3712ZM18.465 12.2295L18.3971 13.2272L18.3971 13.2272L18.465 12.2295ZM16.3325 10.3171L17.317 10.1413L17.3169 10.1413L16.3325 10.3171ZM17.6712 7.7849L17.2622 6.87239L17.2622 6.87239L17.6712 7.7849ZM19.5273 6.9529L19.1183 6.04037L19.1182 6.04038L19.5273 6.9529ZM19.7596 6.3429L20.6722 5.93389L20.6721 5.93383L19.7596 6.3429ZM19.1496 6.11055L18.7407 5.198L18.7406 5.19804L19.1496 6.11055ZM17.2936 6.94256L16.8846 6.03005L16.8846 6.03005L17.2936 6.94256ZM15.4353 7.7849L15.701 8.74894L16.0681 8.64775L16.2749 8.32802L15.4353 7.7849ZM9.47802 11.379L10.1424 12.1264L10.1424 12.1264L9.47802 11.379ZM9.43967 12.0306L8.69223 12.695L8.69226 12.695L9.43967 12.0306ZM9.78482 12.1855V11.1855H9.78446L9.78482 12.1855ZM10.0913 12.0689L10.7556 12.8164L10.7557 12.8163L10.0913 12.0689ZM15.4353 9.2365L16.4163 9.43051L16.7474 7.75617L15.1249 8.28588L15.4353 9.2365ZM15.4238 10.4795L16.4082 10.3038L16.4082 10.3036L15.4238 10.4795ZM15.6787 11.2919L16.6259 11.6127L16.7534 11.2363L16.5877 10.875L15.6787 11.2919ZM14.1457 14.9703L13.2512 14.5232L13.2512 14.5232L14.1457 14.9703ZM10.2349 19.6729L10.6095 20.6001L10.6095 20.6001L10.2349 19.6729ZM9.97983 20.2737L9.05264 20.6483L9.05266 20.6484L9.97983 20.2737ZM10.5807 20.5288L10.2993 19.5692L10.252 19.5831L10.2062 19.6016L10.5807 20.5288ZM16.3275 12.2313L17.0346 11.5242L15.5767 10.0662L15.3345 12.1138L16.3275 12.2313ZM16.3702 12.2741L17.0638 11.5537L17.0634 11.5534L16.3702 12.2741ZM16.9121 12.6908L17.8545 12.356L17.7352 12.0202L17.4304 11.8356L16.9121 12.6908ZM18.1907 16.2897L19.133 15.955L19.133 15.9549L18.1907 16.2897ZM18.2527 17.3406L17.2775 17.1189L17.2775 17.119L18.2527 17.3406ZM19 19.0003L19.7071 18.2932L19.6593 18.2454L19.6056 18.2045L19 19.0003ZM19.5 19.5003L18.7929 20.2074L18.8889 20.3034L19.007 20.3703L19.5 19.5003ZM21.384 19.8621L21.2593 18.8699L21.1562 18.8829L21.058 18.9168L21.384 19.8621ZM21.9193 19.7949L22.044 20.7871L22.1471 20.7741L22.2453 20.7402L21.9193 19.7949ZM23.6508 18.3156L24.527 18.7975L24.527 18.7975L23.6508 18.3156ZM24 16.8261L23.0013 16.7748L23.0012 16.7766L24 16.8261ZM24.5991 5.16528L24.1499 4.27188L23.6303 4.53315L23.6004 5.11397L24.5991 5.16528ZM24.8763 4.73207L24.3016 3.91365L24.3015 3.91373L24.8763 4.73207ZM26.8037 3.37873L27.3784 4.19714L27.379 4.19673L26.8037 3.37873ZM27.9321 2.56057C27.74 1.95266 27.176 1.53934 26.5384 1.53934V3.53934C26.3035 3.53934 26.0958 3.38709 26.025 3.1631L27.9321 2.56057ZM26.5384 1.53934H22.905V3.53934H26.5384V1.53934ZM23.558 1.78195C22.0334 0.467646 19.8379 -0.600986 17.7371 -0.739706L17.6053 1.25595C19.1868 1.36038 20.9843 2.20383 22.2521 3.29674L23.558 1.78195ZM17.7371 -0.739705C14.5134 -0.952654 11.6912 -0.542431 8.65826 0.56045L9.34174 2.44004C12.1173 1.43074 14.6621 1.06152 17.6053 1.25595L17.7371 -0.739705ZM8.59185 0.587327L5.89579 1.79268L6.71208 3.61851L9.40815 2.41316L8.59185 0.587327ZM5.96224 1.76579C5.20365 2.0416 4.81218 2.88026 5.08818 3.63894L6.96768 2.95522C7.06939 3.23481 6.92513 3.54379 6.64564 3.64541L5.96224 1.76579ZM5.08817 3.63894C5.30461 4.23393 5.86602 4.60116 6.46199 4.60102L6.4615 2.60102C6.68028 2.60097 6.88768 2.7353 6.96768 2.95523L5.08817 3.63894ZM6.46174 4.60102C6.62911 4.60102 6.79813 4.57216 6.96107 4.51294L6.27785 2.63325C6.33666 2.61188 6.39906 2.60102 6.46174 2.60102V4.60102ZM6.9612 4.51289L9.52935 3.57902L8.84587 1.69943L6.27772 2.6333L6.9612 4.51289ZM9.52935 3.57902C12.1822 2.61437 14.953 2.21989 17.7695 2.40589L17.9013 0.410239C14.8079 0.205949 11.7594 0.639964 8.84587 1.69943L9.52935 3.57902ZM17.7695 2.40589C18.8527 2.47744 19.9078 2.82094 20.8279 3.39283L21.8837 1.69425C20.6889 0.951538 19.3171 0.503748 17.9013 0.410239L17.7695 2.40589ZM21.2276 1.5518C20.5106 1.64451 19.9538 2.25517 19.9538 3.00081H21.9538C21.9538 3.27713 21.7477 3.5012 21.484 3.53529L21.2276 1.5518ZM19.9538 3.00081C19.9538 3.80801 20.6082 4.46237 21.4154 4.46237V2.46237C21.7128 2.46237 21.9538 2.70344 21.9538 3.00081H19.9538ZM21.4154 4.46237H25.0778V2.46237H21.4154V4.46237ZM24.5032 2.64397L23.7711 3.158L24.9204 4.7948L25.6525 4.28077L24.5032 2.64397ZM23.7712 3.15796C23.3312 3.46686 22.7662 3.54168 22.261 3.35799L21.5776 5.23758C22.6966 5.6445 23.9458 5.47903 24.9203 4.79485L23.7712 3.15796ZM22.2611 3.35802C21.5029 3.08222 20.6638 3.47321 20.388 4.23226L22.2677 4.91534C22.166 5.19529 21.8568 5.33916 21.5775 5.23755L22.2611 3.35802ZM20.388 4.2321C20.1123 4.99053 20.5034 5.82922 21.2621 6.10509L21.9455 4.22547C22.2252 4.32715 22.3692 4.63617 22.2676 4.9155L20.388 4.2321ZM21.2621 6.10508C21.7692 6.28946 22.2976 6.38005 22.8232 6.38005V4.38005C22.5275 4.38005 22.2305 4.32911 21.9456 4.22549L21.2621 6.10508ZM22.8232 6.38005C23.1099 6.38005 23.3952 6.35295 23.6755 6.29982L23.303 4.33482C23.1445 4.36486 22.9838 4.38005 22.8232 4.38005V6.38005ZM22.4905 5.26793L21.9233 16.7377L23.9209 16.8365L24.488 5.36671L22.4905 5.26793ZM21.9233 16.7375C21.9237 16.7297 21.9241 16.7239 21.9243 16.721C21.9245 16.7184 21.9247 16.717 21.9245 16.7192C21.9243 16.7208 21.9243 16.7209 21.9241 16.7237C21.9239 16.7257 21.9237 16.7286 21.9234 16.7318C21.9228 16.7381 21.9221 16.7477 21.9213 16.7589L23.9168 16.8933C23.9166 16.8958 23.9165 16.8977 23.9164 16.899C23.9163 16.9002 23.9162 16.9009 23.9162 16.9009C23.9162 16.901 23.9162 16.9008 23.9163 16.9006C23.9163 16.9003 23.9163 16.8999 23.9164 16.8993C23.9164 16.8988 23.9167 16.8957 23.9168 16.894C23.9175 16.8865 23.9195 16.8636 23.9209 16.8367L21.9233 16.7375ZM23.0667 15.8371C21.9446 15.6696 20.8084 16.1616 20.1687 17.1204L21.8323 18.2305C22.038 17.9223 22.4077 17.7609 22.7714 17.8152L23.0667 15.8371ZM20.1686 17.1204C19.7207 17.7919 19.9018 18.6993 20.5731 19.1473L21.6834 17.4838C21.9306 17.6488 21.9974 17.9831 21.8323 18.2304L20.1686 17.1204ZM20.5733 19.1475C20.8213 19.3129 21.1044 19.3932 21.384 19.3932V17.3932C21.4875 17.3932 21.5927 17.4233 21.6832 17.4837L20.5733 19.1475ZM21.384 19.3932C21.853 19.3932 22.3178 19.1659 22.6001 18.7431L20.9367 17.6326C21.041 17.4764 21.2131 17.3932 21.384 17.3932V19.3932ZM22.6003 18.7428C22.6028 18.739 22.6065 18.7353 22.6124 18.7323C22.6189 18.7289 22.6256 18.7276 22.6309 18.7277L22.6618 16.7279C21.9831 16.7174 21.3265 17.0483 20.9365 17.6329L22.6003 18.7428ZM21.7785 17.231C21.6451 17.464 21.4343 17.6387 21.1813 17.726L21.8333 19.6167C22.546 19.371 23.1411 18.8765 23.5143 18.2245L21.7785 17.231ZM21.1813 17.726L20.7745 17.8663L21.4265 19.757L21.8333 19.6168L21.1813 17.726ZM20.7745 17.8663C20.772 17.8671 20.7665 17.8688 20.7571 17.8702L21.0541 19.848C21.1763 19.8297 21.3013 19.8002 21.4266 19.757L20.7745 17.8663ZM21.8758 18.6166L21.3794 16.631L19.4391 17.1161L19.9355 19.1016L21.8758 18.6166ZM21.3794 16.6309C21.1835 15.8479 20.3899 15.3716 19.6068 15.5676L20.0923 17.5078C19.8034 17.5801 19.5112 17.4045 19.4391 17.1161L21.3794 16.6309ZM19.6071 15.5675C18.8239 15.7633 18.3477 16.5569 18.5436 17.34L20.4838 16.8548C20.556 17.1433 20.3805 17.4357 20.092 17.5079L19.6071 15.5675ZM18.5435 17.34L18.9055 18.788L20.8458 18.3029L20.4838 16.8549L18.5435 17.34ZM20.3687 17.6755L19.9939 17.463L19.0078 19.2031L19.3827 19.4155L20.3687 17.6755ZM19.9939 17.463C20.0986 17.5224 20.1546 17.6493 20.128 17.7667L18.1777 17.3235C18.0088 18.0669 18.3445 18.8272 19.0078 19.2031L19.9939 17.463ZM20.128 17.7667C20.2883 17.0614 20.245 16.3274 20.0028 15.6458L18.1182 16.3153C18.2335 16.6397 18.254 16.9877 18.1777 17.3235L20.128 17.7667ZM20.0028 15.6458L18.9818 12.7717L17.0972 13.4412L18.1182 16.3153L20.0028 15.6458ZM17.8702 14.092C18.0189 14.1175 18.1737 14.1372 18.3344 14.1481L18.4703 12.1527C18.3844 12.1469 18.2975 12.1361 18.2088 12.1209L17.8702 14.092ZM18.3344 14.1481L20.4161 14.2898L20.552 12.2944L18.4702 12.1527L18.3344 14.1481ZM20.415 14.2897C20.4484 14.292 20.4821 14.2932 20.5159 14.2932V12.2932C20.5286 12.2932 20.541 12.2937 20.5532 12.2945L20.415 14.2897ZM20.5159 14.2932C21.2789 14.2932 21.9209 13.7028 21.9736 12.9311L19.9782 12.795C19.9976 12.5105 20.234 12.2932 20.5159 12.2932V14.2932ZM21.9736 12.9309C22.0284 12.1256 21.42 11.4283 20.6146 11.3735L20.4788 13.3689C20.1821 13.3487 19.958 13.0918 19.9782 12.7951L21.9736 12.9309ZM20.6146 11.3735L18.5329 11.2318L18.3971 13.2272L20.4788 13.3689L20.6146 11.3735ZM18.5329 11.2318C17.7761 11.1803 17.4077 10.6493 17.317 10.1413L15.3481 10.4929C15.5521 11.6356 16.4775 13.0965 18.3971 13.2272L18.5329 11.2318ZM17.3169 10.1413C17.2262 9.63342 17.3882 9.00768 18.0803 8.69741L17.2622 6.87239C15.5065 7.65943 15.1441 9.35043 15.3481 10.493L17.3169 10.1413ZM18.0803 8.69741L19.9363 7.86541L19.1182 6.04038L17.2622 6.87239L18.0803 8.69741ZM19.9363 7.86543C20.6731 7.53517 21.0022 6.67027 20.6722 5.93389L18.8471 6.75191C18.7256 6.48079 18.8467 6.16209 19.1183 6.04037L19.9363 7.86543ZM20.6721 5.93383C20.342 5.19737 19.4774 4.86783 18.7407 5.198L19.5586 7.02311C19.2874 7.14465 18.9688 7.02328 18.8471 6.75198L20.6721 5.93383ZM18.7406 5.19804L16.8846 6.03005L17.7027 7.85507L19.5587 7.02306L18.7406 5.19804ZM16.8846 6.03005C16.8018 6.06713 16.6878 6.10535 16.5184 6.15461C16.3729 6.19691 16.1496 6.25723 15.9574 6.31935C15.6029 6.43398 14.9706 6.6621 14.5956 7.24178L16.2749 8.32802C16.2338 8.39159 16.2312 8.33276 16.5727 8.22236C16.7286 8.17196 16.8698 8.13524 17.0768 8.07508C17.2598 8.02187 17.486 7.9522 17.7027 7.85507L16.8846 6.03005ZM15.1695 6.82086C14.6395 6.96695 13.6327 7.40916 12.5065 8.04067C11.3601 8.68353 10.0135 9.56505 8.81366 10.6316L10.1424 12.1264C11.2058 11.1811 12.4249 10.3794 13.4847 9.78512C14.5648 9.17946 15.405 8.83053 15.701 8.74894L15.1695 6.82086ZM8.81369 10.6316C8.21035 11.1678 8.156 12.0916 8.69223 12.695L10.1871 11.3663C10.3846 11.5886 10.3646 11.9289 10.1424 12.1264L8.81369 10.6316ZM8.69226 12.695C8.98107 13.0199 9.38405 13.1857 9.78518 13.1855L9.78446 11.1855C9.93109 11.1855 10.0807 11.2466 10.1871 11.3663L8.69226 12.695ZM9.78482 13.1855C10.1294 13.1855 10.4777 13.0633 10.7556 12.8164L9.427 11.3215C9.52899 11.2308 9.65835 11.1855 9.78482 11.1855V13.1855ZM10.7557 12.8163C12.2803 11.4611 14.5094 10.5907 15.7456 10.1871L15.1249 8.28588C13.8371 8.70633 11.2749 9.67885 9.42693 11.3215L10.7557 12.8163ZM14.4543 9.04249C14.3503 9.56792 14.3432 10.1172 14.4393 10.6553L16.4082 10.3036C16.3562 10.0128 16.3601 9.71446 16.4163 9.43051L14.4543 9.04249ZM14.4393 10.6552C14.5049 11.0227 14.6176 11.3769 14.7698 11.7087L16.5877 10.875C16.5042 10.6929 16.4433 10.5005 16.4082 10.3038L14.4393 10.6552ZM14.7316 10.971C14.5675 11.4555 14.0385 12.948 13.2512 14.5232L15.0402 15.4174C15.8852 13.7267 16.4478 12.1384 16.6259 11.6127L14.7316 10.971ZM13.2512 14.5232C12.6342 15.7578 12.0158 16.7334 11.4214 17.4482C10.8194 18.172 10.288 18.5729 9.86027 18.7457L10.6095 20.6001C11.4609 20.2561 12.2452 19.5855 12.9591 18.7271C13.6804 17.8597 14.3779 16.7425 15.0402 15.4174L13.2512 14.5232ZM9.86028 18.7457C9.11187 19.0481 8.75025 19.8999 9.05264 20.6483L10.907 19.8991C11.0184 20.1749 10.8852 20.4887 10.6095 20.6001L9.86028 18.7457ZM9.05266 20.6484C9.2831 21.2187 9.83158 21.5625 10.4079 21.5625V19.5625C10.6191 19.5625 10.8218 19.6881 10.907 19.8991L9.05266 20.6484ZM10.4079 21.5625C10.5918 21.5625 10.7776 21.5277 10.9552 21.456L10.2062 19.6016C10.2704 19.5756 10.3392 19.5625 10.4079 19.5625V21.5625ZM10.862 21.4884C12.6745 20.957 14.1974 19.3208 15.2699 17.634C16.3596 15.9202 17.135 13.918 17.3206 12.3488L15.3345 12.1138C15.1925 13.3137 14.5542 15.0322 13.5822 16.5609C12.593 18.1166 11.4062 19.2447 10.2993 19.5692L10.862 21.4884ZM15.6204 12.9384C15.6242 12.9422 15.6249 12.943 15.6366 12.9548C15.6453 12.9636 15.6599 12.9784 15.677 12.9949L17.0634 11.5534C17.0661 11.5559 17.0665 11.5565 17.061 11.5509C17.0598 11.5496 17.0584 11.5483 17.0567 11.5465C17.0551 11.5449 17.053 11.5427 17.0508 11.5406C17.0466 11.5362 17.0409 11.5305 17.0346 11.5242L15.6204 12.9384ZM15.6767 12.9946C15.8964 13.2061 16.1368 13.3902 16.3939 13.546L17.4304 11.8356C17.2984 11.7556 17.1759 11.6617 17.0638 11.5537L15.6767 12.9946ZM15.9698 13.0256L17.2484 16.6244L19.133 15.9549L17.8545 12.356L15.9698 13.0256ZM17.2483 16.6244C17.3049 16.7837 17.315 16.9542 17.2775 17.1189L19.2278 17.5622C19.3493 17.0277 19.3164 16.4713 19.133 15.955L17.2483 16.6244ZM17.2775 17.119C17.1504 17.6786 17.2017 18.2164 17.4443 18.7091C17.6728 19.1734 18.0345 19.5222 18.3944 19.7961L19.6056 18.2045C19.3678 18.0236 19.2748 17.8992 19.2386 17.8257C19.2164 17.7806 19.1928 17.716 19.2278 17.5622L17.2775 17.119ZM18.2929 19.7074L18.7929 20.2074L20.2071 18.7932L19.7071 18.2932L18.2929 19.7074ZM19.007 20.3703C19.2107 20.4858 19.4604 20.602 19.7202 20.6918C19.9681 20.7774 20.2913 20.8621 20.6223 20.8621V18.8621C20.6236 18.8621 20.6178 18.8622 20.604 18.8606C20.5905 18.859 20.5719 18.8561 20.5482 18.8511C20.5 18.8411 20.4407 18.8247 20.3731 18.8013C20.2352 18.7537 20.0968 18.6891 19.993 18.6303L19.007 20.3703ZM20.6223 20.8621C20.6964 20.8621 20.694 20.8709 20.9382 20.8875C21.0813 20.8973 21.3954 20.916 21.71 20.8075L21.058 18.9168C21.1214 18.8949 21.1602 18.8943 21.1518 18.8948C21.1455 18.8951 21.1232 18.8955 21.0739 18.8922C21.0196 18.8885 20.9756 18.8837 20.8933 18.8764C20.8259 18.8705 20.7258 18.8621 20.6223 18.8621V20.8621ZM21.5087 20.8543L22.044 20.7871L21.7946 18.8027L21.2593 18.8699L21.5087 20.8543ZM22.2453 20.7402C23.2045 20.4095 24.052 19.6612 24.527 18.7975L22.7746 17.8336C22.5245 18.2883 22.0564 18.6898 21.5933 18.8495L22.2453 20.7402ZM24.527 18.7975C24.8569 18.1977 24.9736 17.3825 24.9988 16.8756L23.0012 16.7766C22.9811 17.1819 22.8849 17.6332 22.7746 17.8336L24.527 18.7975ZM24.9987 16.8774L25.5978 5.21659L23.6004 5.11397L23.0013 16.7748L24.9987 16.8774ZM25.0483 6.05869C25.3042 5.93002 25.4566 5.7393 25.5428 5.59675C25.62 5.46922 25.6653 5.34259 25.6786 5.30712C25.7037 5.23999 25.6951 5.26673 25.6792 5.29687C25.6571 5.33894 25.5907 5.45233 25.451 5.55041L24.3015 3.91373C24.0903 4.06211 23.9726 4.24512 23.9092 4.36574C23.8771 4.42667 23.8538 4.48162 23.8383 4.52033C23.8238 4.55625 23.8099 4.59436 23.8049 4.60758C23.7974 4.6278 23.7968 4.62858 23.7988 4.62396C23.8012 4.61848 23.8118 4.59433 23.8317 4.56135C23.8739 4.49157 23.971 4.3618 24.1499 4.27188L25.0483 6.05869ZM25.4509 5.55048L27.3784 4.19714L26.2291 2.56032L24.3016 3.91365L25.4509 5.55048ZM27.379 4.19673C27.9 3.83035 28.1241 3.16847 27.9321 2.56057L26.025 3.1631C25.9542 2.93912 26.0369 2.69551 26.2285 2.56073L27.379 4.19673Z" fill="#1D1D1D" mask="url(#path-1-inside-1_935_25417)"/><path d="M3 6H7" stroke="#1D1D1D" stroke-linecap="round"/><path d="M3 12H7" stroke="#1D1D1D" stroke-linecap="round"/><path d="M1 9H5" stroke="#1D1D1D" stroke-linecap="round"/></svg>
									.li__text
										span Пробег
										p 71.800 km
								li
									.icon
										<svg width="28" height="23" viewBox="0 0 28 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0478 21.9521C15.8243 21.9521 17.2645 20.5449 17.2645 18.8091C17.2645 17.0732 15.8243 15.666 14.0478 15.666C12.2712 15.666 10.8311 17.0732 10.8311 18.8091C10.8311 20.5449 12.2712 21.9521 14.0478 21.9521Z" stroke="#1D1D1D" stroke-width="1.3" stroke-miterlimit="10"/><path d="M16.8885 16.808C16.8885 16.808 17.7066 14.2635 18.5996 12.6648C19.5976 10.8765 20.5342 9.75692 20.5342 9.75692L18.8973 8.73926C18.8973 8.73926 17.93 10.9197 17.1862 12.0105C16.4423 13.1008 14.5078 15.4995 14.5078 15.4995L15.9213 16.2263L16.8885 16.808Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M11.0275 16.9789C11.0275 16.9789 10.2094 14.4344 9.31636 12.8357C8.31837 11.0474 7.38184 9.92782 7.38184 9.92782L9.01869 8.91016C9.01869 8.91016 9.98595 11.0906 10.7298 12.1814C11.4737 13.2717 13.4082 15.6704 13.4082 15.6704L11.9947 16.3972L11.0275 16.9789Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M12.3751 22.8144L8.7832 17.7461" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M12.4261 8.48893L8.4572 1.60859C8.4572 1.60859 8.26516 1.04566 7.11289 1.60859C5.96063 2.17153 1.67165 4.73602 1.67165 4.73602C1.67165 4.73602 0.96749 5.17386 1.47961 5.86189C1.99172 6.54993 5.25647 12.492 5.25647 12.492C5.25647 12.492 4.80837 11.6164 5.44851 10.9909C6.08866 10.3654 10.9538 7.73835 10.9538 7.73835C10.9538 7.73835 11.6579 7.23796 12.4261 8.48893Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M7.20878 8.5518C7.93355 8.5518 8.52108 7.97771 8.52108 7.26955C8.52108 6.56139 7.93355 5.9873 7.20878 5.9873C6.48402 5.9873 5.89648 6.56139 5.89648 7.26955C5.89648 7.97771 6.48402 8.5518 7.20878 8.5518Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M9.11436 2.74805L2.04395 6.77305" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M15.5684 8.42643L19.5373 1.54609C19.5373 1.54609 19.7293 0.983156 20.8816 1.54609C22.0338 2.10903 26.3228 4.67352 26.3228 4.67352C26.3228 4.67352 27.027 5.11136 26.5149 5.79939C26.0027 6.48743 22.738 12.4295 22.738 12.4295C22.738 12.4295 23.1861 11.5539 22.546 10.9284C21.9058 10.3029 17.0407 7.67585 17.0407 7.67585C17.0407 7.67585 16.3365 7.17546 15.5684 8.42643Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M20.7859 8.48832C21.5107 8.48832 22.0982 7.91424 22.0982 7.20607C22.0982 6.49791 21.5107 5.92383 20.7859 5.92383C20.0612 5.92383 19.4736 6.49791 19.4736 7.20607C19.4736 7.91424 20.0612 8.48832 20.7859 8.48832Z" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M18.8799 2.68555L25.9503 6.71055" stroke="#1D1D1D" stroke-miterlimit="10"/><path d="M15.6982 22.8056L19.2901 17.7373" stroke="#1D1D1D" stroke-miterlimit="10"/></svg>
									.li__text
										span Пробег
										p 71.800 km

						.info__bottom
							button(data-popup="popup-email").open-popup Отправить E-mail
							.select
								.select__head
									span Связаться
									img()
								.select__body
									a(href="#")
										.icon
											img(src="img/icons/whatsapp.svg")
										span WhatsApp
									a(href="#")
										.icon
											img(src="img/icons/viber.svg")
										span Viber
									a(href="#")
										.icon
											img(src="img/icons/telegram.svg")
										span Telegram
						.info__links
							a(href="#") Читать блог о BMW
							a(href="#") Получать уведомления о новых поступлениях автомобилей

				section.single__params
					.params__block
						.params__item
							.icon
								<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_1_3657" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="29" height="29"><path d="M0 0.000654221H28.3333V28.334H0V0.000654221Z" fill="white"/></mask><path d="M22.1904 16.7256L26.3755 20.9108C27.8786 22.4139 27.8787 24.8735 26.3756 26.3765L26.3755 26.3766C24.8725 27.8797 22.4129 27.8797 20.9098 26.3766L16.7246 22.1914" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.9255 23.0215C18.0366 23.0215 23.0209 18.0373 23.0209 11.9261C23.0209 5.81496 18.0366 0.83073 11.9255 0.83073C5.81431 0.83073 0.830078 5.81496 0.830078 11.9261C0.830078 18.0373 5.81431 23.0215 11.9255 23.0215Z" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.04199 9.85156L8.09403 7.24135C8.33996 6.63114 8.95682 6.3099 9.61474 6.3099H14.1981C14.8558 6.3099 15.4726 6.63097 15.7186 7.24091L16.7047 9.68555" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.81086 9.79522H16.0022C17.4192 9.79522 18.5748 10.9626 18.5748 12.3936V14.8184H5.23828V12.3936C5.23828 10.9625 6.39397 9.79522 7.81086 9.79522Z" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.23633 12.3086H6.64907" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.8252 9.35352H6.85073" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.9629 9.35352H17.9885" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.23828 14.002V15.9941" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.5742 14.002V15.9941" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.1348 12.3086H18.5474" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.77637 12.3086H14.0374" stroke="white" stroke-miterlimit="22.926" stroke-linecap="round" stroke-linejoin="round"/></svg>
							span Основные данные
						.params__item
							ul
								li
									span Форма кузова
									p Форма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикапФорма кузова внедорожник внедорожник/пикап
								li
									span Тип машины
									p Новый
								li
									span Тип вождения
									p Полноприводный автомобиль
								li
									span Места
									p 5
								li
									span Двери
									p 5
								li
									span Страна
									p Венгрия
								li
									span Номер ключа
									p 0005/BYD
								li
									span Доступность
									p через 150 дней с момента заказа
					.params__block
						.params__item
							.icon
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.0004 2.40039C12.5084 2.40039 10.0723 3.13937 8.00021 4.52387C5.92815 5.90838 4.31318 7.87623 3.35951 10.1786C2.40585 12.4809 2.15633 15.0144 2.6425 17.4585C3.12868 19.9027 4.32871 22.1478 6.09085 23.9099C7.85299 25.6721 10.0981 26.8721 12.5423 27.3583C14.9864 27.8445 17.5199 27.5949 19.8222 26.6413C22.1246 25.6876 24.0924 24.0726 25.4769 22.0006C26.8614 19.9285 27.6004 17.4924 27.6004 15.0004C27.5972 11.6596 26.2687 8.45662 23.9064 6.09435C21.5442 3.73208 18.3411 2.40357 15.0004 2.40039ZM15.0004 26.4004C12.7457 26.4004 10.5416 25.7318 8.6669 24.4791C6.79218 23.2265 5.33101 21.4461 4.46817 19.363C3.60533 17.2799 3.37957 14.9877 3.81944 12.7764C4.25932 10.565 5.34506 8.53369 6.93938 6.93937C8.5337 5.34505 10.565 4.25931 12.7764 3.81944C14.9878 3.37957 17.2799 3.60532 19.363 4.46816C21.4461 5.331 23.2265 6.79217 24.4792 8.66689C25.7318 10.5416 26.4004 12.7457 26.4004 15.0004C26.3972 18.0229 25.1951 20.9207 23.0579 23.0579C20.9207 25.1951 18.0229 26.3972 15.0004 26.4004ZM23.8444 13.3204C23.7805 12.9098 23.6718 12.5074 23.5204 12.1204C23.0828 10.803 22.3425 9.60656 21.3589 8.62707C20.3752 7.64759 19.1756 6.91236 17.8564 6.48039C17.4675 6.33468 17.0657 6.22619 16.6564 6.15639C15.5461 5.94829 14.4067 5.94829 13.2964 6.15639C12.887 6.22619 12.4852 6.33468 12.0964 6.48039C10.7835 6.92115 9.59181 7.6629 8.61668 8.64636C7.64155 9.62983 6.90997 10.8277 6.4804 12.1444C6.33468 12.5332 6.2262 12.935 6.1564 13.3444C5.9483 14.4547 5.9483 15.5941 6.1564 16.7044C6.2262 17.1137 6.33468 17.5155 6.4804 17.9044C6.91476 19.2262 7.65364 20.4275 8.63748 21.4113C9.62132 22.3951 10.8226 23.134 12.1444 23.5684C12.5332 23.7141 12.935 23.8226 13.3444 23.8924C14.4547 24.1005 15.5941 24.1005 16.7044 23.8924C17.1137 23.8226 17.5155 23.7141 17.9044 23.5684C19.2262 23.134 20.4275 22.3951 21.4113 21.4113C22.3952 20.4275 23.134 19.2262 23.5684 17.9044C23.7141 17.5155 23.8226 17.1137 23.8924 16.7044C23.985 16.1414 24.0211 15.5706 24.0004 15.0004C23.9912 14.4372 23.9391 13.8756 23.8444 13.3204ZM17.6884 7.68039C18.7474 8.07534 19.7091 8.69335 20.5082 9.49254C21.3074 10.2917 21.9255 11.2534 22.3204 12.3124L17.2684 13.0324L16.9684 12.7324L17.6884 7.68039ZM15.0004 7.20039C15.5079 7.19954 16.0142 7.24777 16.5124 7.34439L15.8404 12.1444C15.2918 11.9844 14.709 11.9844 14.1604 12.1444L13.4884 7.34439C13.9866 7.24777 14.4929 7.19954 15.0004 7.20039ZM7.2004 15.0004C7.19955 14.4929 7.24777 13.9866 7.3444 13.4884L12.1444 14.1604C11.9844 14.709 11.9844 15.2918 12.1444 15.8404L7.3444 16.5124C7.24777 16.0142 7.19955 15.5079 7.2004 15.0004ZM12.3124 22.3204C11.2534 21.9254 10.2917 21.3074 9.49255 20.5082C8.69336 19.709 8.07534 18.7474 7.6804 17.6884L12.7324 16.9684L13.0324 17.2684L12.3124 22.3204ZM12.7324 13.0324L7.6804 12.3124C8.07534 11.2534 8.69336 10.2917 9.49255 9.49254C10.2917 8.69335 11.2534 8.07534 12.3124 7.68039L13.0324 12.7324L12.7324 13.0324ZM15.0004 22.8004C14.4929 22.8012 13.9866 22.753 13.4884 22.6564L14.1604 17.8564C14.709 18.0164 15.2918 18.0164 15.8404 17.8564L16.5124 22.6564C16.0142 22.753 15.5079 22.8012 15.0004 22.8004ZM16.6204 15.7684C16.4478 16.1454 16.1454 16.4478 15.7684 16.6204C15.5297 16.7388 15.2669 16.8004 15.0004 16.8004C14.7339 16.8004 14.4711 16.7388 14.2324 16.6204C13.8554 16.4478 13.553 16.1454 13.3804 15.7684C13.262 15.5297 13.2003 15.2668 13.2003 15.0004C13.2003 14.7339 13.262 14.4711 13.3804 14.2324C13.553 13.8554 13.8554 13.553 14.2324 13.3804C14.4711 13.262 14.7339 13.2003 15.0004 13.2003C15.2669 13.2003 15.5297 13.262 15.7684 13.3804C16.1454 13.553 16.4478 13.8554 16.6204 14.2324C16.7388 14.4711 16.8004 14.7339 16.8004 15.0004C16.8004 15.2668 16.7388 15.5297 16.6204 15.7684ZM17.6884 22.3204L16.9684 17.2684L17.2684 16.9684L22.3204 17.6884C21.9255 18.7474 21.3074 19.709 20.5082 20.5082C19.7091 21.3074 18.7474 21.9254 17.6884 22.3204ZM22.6564 16.5124L17.8564 15.8404C18.0164 15.2918 18.0164 14.709 17.8564 14.1604L22.6564 13.4884C22.8482 14.4873 22.8482 15.5135 22.6564 16.5124Z" fill="#1D1D1D"/></svg>
							span Особая комплектация
						.params__item.ul__hidden
							ul
								li
									span Трансмиссия / Колеса
									p --- <br>--- <br>---
								li
									span Мультимедия
									p --- <br>--- <br>---
								li
									span Безопасность
									p --- <br>--- <br>---
								li
									span Комфорт и интерьер
									p --- <br>--- <br>---
								li
									span Разное
									p --- <br>--- <br>---
							button.show-more
								span Показать больше
								img(src="img/icons/arr-down-blue.svg" alt="")
					.params__block
						.params__item
							.icon
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6386 13.495L16.1254 11.9818L20.1245 7.98275L20.6424 8.50062C20.9778 8.83597 21.5421 8.7699 21.7883 8.35955L24.8956 3.18072C25.0686 2.89253 25.0231 2.52364 24.7855 2.28604L22.7139 0.214516C22.4763 -0.0231298 22.1073 -0.0684909 21.8192 0.10436L16.6404 3.21167C16.2317 3.45689 16.163 4.02124 16.4993 4.35757L17.0172 4.87543L13.0181 8.87449L11.5049 7.36131C12.0376 5.37119 11.4943 3.20733 9.98781 1.70079C8.1034 -0.183578 5.28246 -0.481819 3.07637 0.706506C2.87256 0.81632 2.73267 1.01598 2.69903 1.24503C2.66543 1.47408 2.74209 1.70553 2.90581 1.86925L5.65443 4.61787C5.94003 4.90346 5.94003 5.36811 5.65443 5.65361C5.36884 5.9392 4.90424 5.93925 4.61865 5.65361L1.87002 2.90494C1.7063 2.74121 1.47481 2.66451 1.24581 2.69815C1.01676 2.73174 0.817099 2.87168 0.707285 3.07549C-0.476548 5.27333 -0.189147 8.09613 1.70167 9.98689C3.20483 11.4901 5.36757 12.0379 7.36219 11.5041L7.83943 11.9813L1.07428 18.7466C-0.357652 20.1785 -0.358531 22.4928 1.07428 23.9257C2.50215 25.3535 4.82543 25.3536 6.25336 23.9257L13.0185 17.1603L13.4958 17.6377C12.9632 19.6278 13.5065 21.7917 15.0129 23.2982C16.8974 25.1826 19.7183 25.4809 21.9244 24.2925C22.1282 24.1827 22.2681 23.9831 22.3017 23.754C22.3353 23.525 22.2587 23.2935 22.0949 23.1298L19.3463 20.3812C19.0607 20.0956 19.0607 19.6309 19.3463 19.3454C19.6319 19.0599 20.0966 19.0599 20.3821 19.3454L23.1307 22.0941C23.2944 22.2578 23.5259 22.3344 23.7549 22.3009C23.984 22.2673 24.1837 22.1273 24.2935 21.9235C25.4773 19.7257 25.19 16.9029 23.2991 15.0121C21.796 13.509 19.6332 12.9611 17.6386 13.495ZM22.0825 1.65465L23.3453 2.91743L21.0149 6.8015L18.1984 3.98511L22.0825 1.65465ZM18.053 5.91122L19.0887 6.94696L15.0897 10.946L14.0539 9.91028L18.053 5.91122ZM5.21757 22.89C4.36084 23.7467 2.9668 23.7467 2.11001 22.89C1.2504 22.0303 1.24986 20.6426 2.11001 19.7824L8.87512 13.0171L11.9827 16.1247L5.21757 22.89ZM23.3852 20.277L21.4179 18.3097C20.5613 17.4531 19.1673 17.4531 18.3106 18.3097C17.4539 19.1663 17.4539 20.5603 18.3106 21.417L20.2779 23.3843C18.7832 23.7925 17.1766 23.3903 16.0488 22.2625C14.8551 21.0688 14.4498 19.2693 15.0162 17.6779C15.111 17.4115 15.044 17.1144 14.8441 16.9145L8.08548 10.1558C7.88597 9.95632 7.589 9.8887 7.322 9.98372C5.73061 10.5502 3.9311 10.1448 2.7374 8.95115C1.60958 7.82332 1.20748 6.21679 1.61558 4.72207L3.58291 6.68939C4.43955 7.54603 5.83349 7.54598 6.69022 6.68939C7.54686 5.83276 7.54686 4.43882 6.69022 3.58208L4.72289 1.61475C6.21757 1.20655 7.8242 1.60875 8.95203 2.73658C10.1457 3.93027 10.551 5.72983 9.98459 7.32118C9.88977 7.58758 9.95676 7.88475 10.1567 8.08465L16.9153 14.8432C17.1152 15.0432 17.4124 15.1101 17.6788 15.0153C19.2701 14.4489 21.0697 14.8543 22.2634 16.0479C23.3912 17.1758 23.7933 18.7823 23.3852 20.277Z" fill="#1D1D1D"/><path d="M9.52257 15.6246C9.23654 15.3387 8.77287 15.3387 8.48683 15.6246L4.01136 20.1003C3.72538 20.3863 3.72538 20.85 4.01136 21.136C4.29745 21.422 4.76107 21.422 5.0471 21.136L9.52252 16.6604C9.80851 16.3743 9.80851 15.9106 9.52257 15.6246Z" fill="#1D1D1D"/></svg>
							span Базовая комплектация
						.params__item
							ul
								li
									span Стандарт
									p --- <br>--- <br>---
					.params__block.params__block_without-underline
						.params__item
							.icon
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1144 2.9707H5.38304C4.96356 2.9707 4.62402 3.31024 4.62402 3.72972V9.08636C4.62402 9.50533 4.96356 9.84537 5.38304 9.84537H13.1144C13.5334 9.84537 13.8734 9.50533 13.8734 9.08636V3.72972C13.8734 3.31024 13.5334 2.9707 13.1144 2.9707ZM12.3554 8.32734H6.14206V4.48874H12.3554V8.32734Z" fill="#1D1D1D"/><path d="M23.8817 4.34241L23.8815 4.34231L20.6413 1.27567C20.3369 0.987552 19.8565 1.00076 19.5683 1.30523C19.2802 1.60969 19.2934 2.09005 19.5979 2.37822L21.2792 3.96958C20.2262 4.35971 19.4733 5.37477 19.4733 6.56183C19.4733 7.797 20.2885 8.84596 21.4088 9.19814V18.5887C21.4088 18.8402 21.2039 19.0446 20.9529 19.0446C20.7014 19.0446 20.497 18.8402 20.497 18.5887V13.817C20.497 12.5621 19.4754 11.5405 18.2205 11.5405H16.46V2.53291C16.46 1.27699 15.4389 0.255859 14.183 0.255859H4.31476C3.05935 0.255859 2.03771 1.27699 2.03771 2.53291V19.4226H1.77509C0.795956 19.4226 0 20.219 0 21.1982V23.9858C0 24.4053 0.339534 24.7448 0.759017 24.7448H17.7392C18.1582 24.7448 18.4983 24.4053 18.4983 23.9858V21.1982C18.4983 20.219 17.7018 19.4226 16.7227 19.4226H16.46V13.0585H18.2205C18.6384 13.0585 18.979 13.399 18.979 13.817V18.5887C18.979 19.6771 19.8645 20.5626 20.9529 20.5626C22.0414 20.5626 22.9269 19.6771 22.9269 18.5887V9.23807C24.1175 8.93041 25 7.84704 25 6.56177C25 5.65399 24.5598 4.8469 23.8817 4.34241ZM14.942 19.4226H3.55574V2.53291C3.55574 2.11444 3.89629 1.77389 4.31476 1.77389H14.183C14.602 1.77389 14.942 2.11444 14.942 2.53291C14.942 2.82336 14.942 19.1666 14.942 19.4226ZM16.9802 21.1982V23.2268H1.51803V21.1982C1.51803 21.056 1.6334 20.9406 1.77509 20.9406C2.36272 20.9406 16.0161 20.9406 16.7227 20.9406C16.8649 20.9406 16.9802 21.056 16.9802 21.1982ZM22.2367 7.80707C21.5515 7.80707 20.9914 7.24929 20.9914 6.56177C20.9914 5.87512 21.55 5.31648 22.2367 5.31648C22.9233 5.31648 23.482 5.87512 23.482 6.56177C23.482 7.24879 22.9229 7.80707 22.2367 7.80707Z" fill="#1D1D1D"/></svg>
							span Расход топлива
						.params__item
							ul
								li
									span Расход комбинированный
									p 11,9 л. /100 км.
								li
									span Расход за городом
									p 10 л. / 100 км.
								li
									span Расход в городе
									p 7 л. / 100 км.
								li
									span Экологический стандарт
									p Евро 6
					.params__block
						.params__item
							.icon
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_935_25607" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28"><path d="M28 0H0V28H28V0Z" fill="white"/></mask><mask id="mask1_935_25607" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28"><path d="M0 1.90735e-06H28V28H0V1.90735e-06Z" fill="white"/></mask><path d="M9.69789 26.1713C11.0872 26.6613 12.5436 26.9062 14 26.9062C17.3058 26.9062 20.6117 25.644 23.1327 23.1195C28.1573 18.0878 28.1463 9.87558 23.1089 4.85669C18.0673 -0.1663 9.90838 -0.160558 4.8739 4.87392C1.2426 8.50522 0.227545 13.7621 1.82869 18.3021C1.83492 18.3198 1.84115 18.3373 1.84744 18.3549C2.80196 21.0243 6.22315 21.7768 8.22772 19.7723L9.69789 18.302" stroke="#1D1D1D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.8237 15.2614L15.7816 18.3034C14.1016 19.9835 11.3776 19.9835 9.69758 18.3034C8.01747 16.6233 8.01747 13.8994 9.69758 12.2194L12.7396 9.17736L18.8237 15.2614Z" stroke="#1D1D1D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.5225 10.959L18.3459 7.13551" stroke="#1D1D1D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.042 13.4766L20.8222 9.6964" stroke="#1D1D1D" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
							span Расход энергии
						.params__item
							ul
								li
									span Электричества
									p 8 кВт / 100 км
					.params__block.params__block_comment
						.params__item
							.icon
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 24.0613C13.2448 24.0613 12.6328 23.4493 12.6328 22.6941V5.30566C12.6328 4.55043 13.2448 3.93848 14 3.93848C14.7552 3.93848 15.3672 4.55043 15.3672 5.30566V22.6941C15.3672 23.4493 14.7552 24.0613 14 24.0613Z" fill="#1D1D1D"/><path d="M22.6941 15.3672H5.30566C4.55043 15.3672 3.93848 14.7552 3.93848 14C3.93848 13.2448 4.55043 12.6328 5.30566 12.6328H22.6941C23.4493 12.6328 24.0613 13.2448 24.0613 14C24.0613 14.7552 23.4493 15.3672 22.6941 15.3672Z" fill="#1D1D1D"/></svg>

							span Дополнительная информация
						.params__item
							ul
								li
									p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки новых предложений. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки модели развития.

				section.single__main.single__main_mob
					.info__bottom
						button(data-popup="popup-email").open-popup Отправить E-mail
						.select
							.select__head
								span Связаться
								img()
							.select__body
								a(href="#")
									.icon
										img(src="img/icons/whatsapp.svg")
									span WhatsApp
								a(href="#")
									.icon
										img(src="img/icons/viber.svg")
									span Viber
								a(href="#")
									.icon
										img(src="img/icons/telegram.svg")
									span Telegram

				section.contacts
					.contacts__inner
						.contacts__people
							.contacts__info
								.info__lft
									h1 Контакты 
									h2 Адрес Германия
									ul
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (44) 496-00-55
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (67) 136-59-99
										li
											a(href="#")
												img(src="img/icons/email-blue.svg" alt="")
												span zakaz@atp.com.ua
										li
											a(href="#")
												img(src="img/icons/pin-blue.svg" alt="")
												span ул. Пушкинская офис 36
									a(href="#").open-map Открыть карту
								.info__rht
									.info__photo
										img(src="img/contacts/person-1.jpg" alt="")
									h3 Имя
									p Должность
							.contacts__info
								.info__lft
									h2 Адрес Германия
									ul
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (44) 496-00-55
										li
											a(href="#")
												img(src="img/icons/phone-blue.svg" alt="")
												span +380 (67) 136-59-99
										li
											a(href="#")
												img(src="img/icons/email-blue.svg" alt="")
												span zakaz@atp.com.ua
										li
											a(href="#")
												img(src="img/icons/pin-blue.svg" alt="")
												span ул. Пушкинская офис 36
									a(href="#").open-map Открыть карту
								.info__rht
									.info__photo
										img(src="img/contacts/person-2.jpg" alt="")
									h3 Имя
									p Должность
						form(action="#").contacts__form
							h2 Связаться с нами
							label
								span Ваше сообщение
								textarea(placeholder="Ваше сообщение" required)
							label
								span Ваше имя
								input(type="text" placeholder="Ваше имя" required)
							label
								span E-mail
								input(type="email" placeholder="E-mail" required)
							label
								span Телефон
								input(type="tel" placeholder="Телефон")

							.checkbox
								input(type="checkbox" checked)#ch-bx-1
								label(for="ch-bx-1") Я хотел бы получить предложения, соответствующие моим интересам и новости от Luxury Cars по электронной почте.

							button Отправить<br>E-mail

							p.bottom__text мы используем ваш адрес электронной почты в соответствии с нашими. Правила защиты данных, например, для рекомендаций транспортных средств, похожих на ваш поиск. Если у вас нет других рекомендаций по транспортным средствам. Если вы хотите получить больше, вы можете возразить здесь в любое время.

							//- .inputs
							//- 	input(placeholder="Ваше имя" type="text" required)
							//- 	input(placeholder="Ваш e-mail" type="email" required)
							//- textarea(placeholder="Напишите ваше обращение" required)
							//- .form__bottom
							//- 	p Техническая поддержка рассмотрит ваше обращение <span>в течение 24 часов</span>. Вы получите ответ на почту.
							//- 	button(type="submit").btn Отправить

				section.slider-cars
					h2 Похожие автомобили
					.slider-cars__slider
						.swiper-wrapper
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
							+slider_cars('BMW 23')
						button.swiper-button-prev
							img(src="img/icons/arr-left-wh.svg" alt="")
						button.swiper-button-next
							img(src="img/icons/arr-right-wh.svg" alt="")

				section.single__bottom
					a(href="catalog.html").goto-catalog
						span Каталог
						img(src="img/icons/arr-right-wh.svg" alt="")
					a(href="#").link Читать блог о BMW
					a(href="#").link Получать уведомления о новых поступлениях автомобилей

								
			button.block-to-up
				.arrs
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
					svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M5.99274 2.88834L0.207681 8.6735C0.0737717 8.80731 -5.82426e-08 8.98592 -4.99176e-08 9.17638C-4.15926e-08 9.36683 0.0737717 9.54545 0.207681 9.67925L0.633613 10.1053C0.911155 10.3825 1.36224 10.3825 1.63936 10.1053L6.4973 5.24734L11.3606 10.1107C11.4945 10.2445 11.6731 10.3184 11.8634 10.3184C12.054 10.3184 12.2325 10.2445 12.3665 10.1107L12.7923 9.68464C12.9262 9.55073 13 9.37222 13 9.18177C13 8.99131 12.9262 8.8127 12.7923 8.67889L7.00197 2.88834C6.86764 2.75422 6.68829 2.68055 6.49762 2.68097C6.30622 2.68055 6.12697 2.75422 5.99274 2.88834Z" fill="white")
				span Вверх



		include includes/footer.pug
		include includes/scripts.pug
